<script>

  (function () {
    try {
      const blogposts = [{% for post in site.posts  limit: 3 %}'{{post.url}}',{% endfor %}];
      const localSettingKey = 'settings.blog.latest';
      const lastReadBlogPost = window.localStorage.getItem(localSettingKey);

      // Is on blog or first visit, save the latest blogpost as read
      if (window.location.href.includes('/blog') || !lastReadBlogPost) {
        window.localStorage.setItem(localSettingKey, blogposts[0]);
        return;
      }

      // Add notification when a new blogpost has been published
      if (lastReadBlogPost !== blogposts[0]) {
          const anchor = document.querySelector('header a.nav-link[href="/blog/"]')
          if (anchor) anchor.classList.add('with-notification-mark')
      }
    } catch (err) {
        console.error(err)
    }
  })();
</script>
