<header itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="Mailmeteor" />
  <meta itemprop="url" content="https://mailmeteor.com" />
  <meta itemprop="foundingDate" content="2018-12-20" />
  <meta itemprop="foundingLocatino" content="Paris, France" />
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navbar">
    <div class="container">
      <a href="/"><img class="navbar-brand" id="logo" alt="Mailmeteor logo" itemprop="logo" src="/assets/img/brand/logo_mailmeteor.svg" /></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTabs" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTabs">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link" href="/#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#demo">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item text-center ml-2">
            <a href="https://gsuite.google.com/marketplace/app/mailmeteor_mail_merge/1008170693301" class="btn btn-filled btn-inline" style="margin: auto; padding: 0.3em 0.6em 0.3em 0.6em;">INSTALL</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>