<!-- FOOTERs  -->

<footer class="footer">
  <div class="footer-svg"></div>
  <div class="container-fluid d-flex justify-content-center">
    <img id="logo-bottom" src="/assets/img/brand/logo_mailmeteor_white.svg" alt="Mailmeteor footer logo" />
  </div>
  <div class="container d-flex justify-content-center align-content-center">
    <p class="p-2 text-center"><a href="mailto:hello@mailmeteor.com">Contact us</a></p>
    <p class="p-2 text-center"><a href="mailto:jobs@mailmeteor.com">Jobs</a></p>
    <p class="p-2 text-center"><a href="/privacy-policy">Privacy</a></p>
    <p class="p-2 text-center"><a href="/terms">Terms</a></p>
    <p class="p-2 text-center"><a href="https://support.mailmeteor.com/">Support</a></p>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">
      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 100 39" style="enable-background:new 0 0 100 39;" xml:space="preserve">
      <style type="text/css">
      .st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.9259;}
      .st1{fill:#2050E0;}
      .st2{fill:#F8D12E;}
      .st3{fill:#2B3945;}
      .st4{fill:#FFFFFF;}
      .st5{enable-background:new    ;}
      </style>
      <title>GDPR-Badge</title>
      <g id="GDPR">
      <g id="gdpr">
      <path id="Rectangle-" class="st0" d="M6,0.5h88C97,0.5,99.5,3,99.5,6v26.9c0,3.1-2.5,5.6-5.6,5.6H6c-3.1,0-5.6-2.5-5.6-5.6V6
        C0.5,3,3,0.5,6,0.5z"/>
      <path id="Rectangle-_1_" class="st1" d="M6.5,0.9H38v37H6.5c-3.1,0-5.6-2.5-5.6-5.6V6.5C0.9,3.4,3.4,0.9,6.5,0.9z"/>
      <g id="Group" transform="translate(6.481481, 6.481481)">
        <polygon id="Shape" class="st2" points="13,0 13.4,1.4 14.7,1.4 13.6,2.2 14.1,3.6 13,2.7 11.9,3.6 12.3,2.2 11.2,1.4 12.5,1.4 
                "/>
        <polygon id="Shape_1_" class="st2" points="13,22.4 13.4,23.7 14.7,23.7 13.6,24.6 14.1,25.9 13,25.1 11.9,25.9 12.3,24.6 
          11.2,23.7 12.5,23.7 			"/>
        <polygon id="Shape_2_" class="st2" points="18.6,2 19,3.4 20.3,3.4 19.2,4.2 19.7,5.6 18.6,4.8 17.5,5.6 17.9,4.2 16.8,3.4 
          18.1,3.4 			"/>
        <polygon id="Shape_3_" class="st2" points="23.1,16.7 23.5,18 24.9,18 23.8,18.9 24.2,20.2 23.1,19.4 22,20.2 22.4,18.9 21.3,18 
          22.7,18 			"/>
        <polygon id="Shape_4_" class="st2" points="24.1,11.2 24.6,12.5 25.9,12.5 24.8,13.4 25.2,14.7 24.1,13.9 23,14.7 23.5,13.4 
          22.4,12.5 23.7,12.5 			"/>
        <polygon id="Shape_5_" class="st2" points="1.8,11.2 2.2,12.5 3.6,12.5 2.5,13.4 2.9,14.7 1.8,13.9 0.7,14.7 1.1,13.4 0,12.5 
          1.4,12.5 			"/>
        <polygon id="Shape_6_" class="st2" points="2.7,16.7 3.1,18 4.5,18 3.4,18.9 3.8,20.2 2.7,19.4 1.6,20.2 2,18.9 0.9,18 2.3,18 
                "/>
        <polygon id="Shape_7_" class="st2" points="23.1,5.6 23.5,6.9 24.9,6.9 23.8,7.8 24.2,9.1 23.1,8.3 22,9.1 22.4,7.8 21.3,6.9 
          22.7,6.9 			"/>
        <polygon id="Shape_8_" class="st2" points="3.2,5.6 3.6,6.9 4.9,6.9 3.8,7.8 4.3,9.1 3.2,8.3 2.1,9.1 2.5,7.8 1.4,6.9 2.7,6.9 
                "/>
        <polygon id="Shape_9_" class="st2" points="19.6,21.4 20,22.7 21.4,22.7 20.3,23.6 20.7,24.9 19.6,24.1 18.5,24.9 18.9,23.6 
          17.8,22.7 19.2,22.7 			"/>
        <polygon id="Shape_10_" class="st2" points="7.4,2 7.8,3.4 9.2,3.4 8.1,4.2 8.5,5.6 7.4,4.8 6.3,5.6 6.7,4.2 5.6,3.4 7,3.4 			
          "/>
        <polygon id="Shape_11_" class="st2" points="6.4,21.4 6.8,22.7 8.1,22.7 7,23.6 7.5,24.9 6.4,24.1 5.3,24.9 5.7,23.6 4.6,22.7 
          5.9,22.7 			"/>
      </g>
      <path id="GDPR" class="st3" d="M44.4,15.4c0,2.6,2,4.3,4.5,4.3c1.6,0,2.8-0.6,3.6-1.6v-3.2h-4v1.8h1.9v0.7
        c-0.3,0.3-0.9,0.5-1.6,0.5c-1.3,0-2.3-1-2.3-2.4s1-2.4,2.3-2.4c0.8,0,1.4,0.4,1.7,1l1.8-0.9c-0.6-1-1.7-1.9-3.5-1.9
        C46.4,11.1,44.4,12.8,44.4,15.4z M53.8,19.5v-8.2h3.5c2.6,0,4.5,1.6,4.5,4.1s-1.9,4.1-4.5,4.1H53.8z M55.9,17.6h1.3
        c1.4,0,2.3-1,2.3-2.3c0-1.3-0.8-2.3-2.3-2.3h-1.3V17.6z M62.8,19.5v-8.2h4.1c1.9,0,2.9,1.2,2.9,2.7c0,1.5-1,2.7-2.9,2.7h-2v2.8
        H62.8z M67.6,14c0-0.6-0.4-0.9-1-0.9h-1.7v1.9h1.7C67.2,14.9,67.6,14.5,67.6,14z M75.3,19.5L74,16.7h-1.1v2.8h-2.1v-8.2h4.1
        c1.8,0,2.9,1.2,2.9,2.7c0,1.4-0.9,2.2-1.6,2.5l1.7,3H75.3z M75.6,14c0-0.6-0.5-0.9-1-0.9h-1.7v1.9h1.7
        C75.1,14.9,75.6,14.5,75.6,14z"/>
      <path id="Shape_12_" class="st4" d="M22.4,18.6H22v-1.2c0-1.4-1.1-2.6-2.5-2.6s-2.5,1.2-2.5,2.6v1.2h-0.4c-0.4,0-0.8,0.4-0.8,0.8
        v3.3c0,0.5,0.4,0.8,0.8,0.8h5.8c0.4,0,0.8-0.4,0.8-0.8v-3.3C23.1,19,22.8,18.6,22.4,18.6z M20.6,18.6h-2.4v-1.2
        c0-0.7,0.5-1.2,1.2-1.2s1.2,0.6,1.2,1.2V18.6z"/>
      <g id="Compliant" transform="translate(44.444444, 22.222222)">
        <g class="st5">
          <path class="st3" d="M3.8,2.5c-0.3-0.2-0.6-0.3-1-0.3C2.5,2.2,2.2,2.2,2,2.4C1.8,2.5,1.6,2.6,1.4,2.8C1.3,3,1.2,3.3,1.1,3.5
            C1.1,3.8,1,4,1,4.3c0,0.3,0,0.6,0.1,0.9c0.1,0.3,0.2,0.5,0.3,0.7C1.6,6.1,1.8,6.2,2,6.4s0.5,0.2,0.8,0.2c0.2,0,0.4,0,0.6-0.1
            c0.2-0.1,0.3-0.2,0.5-0.3C4,6,4.1,5.8,4.2,5.6C4.3,5.4,4.3,5.2,4.3,5h0.7C5,5.7,4.8,6.2,4.4,6.6C4,6.9,3.4,7.1,2.8,7.1
            C2.4,7.1,2,7,1.7,6.9S1.1,6.6,0.9,6.3S0.6,5.8,0.5,5.5S0.3,4.8,0.3,4.4c0-0.4,0.1-0.7,0.2-1.1C0.6,2.9,0.7,2.7,1,2.4
            c0.2-0.3,0.5-0.5,0.8-0.6c0.3-0.1,0.7-0.2,1.1-0.2c0.3,0,0.5,0,0.8,0.1S4.1,1.9,4.3,2c0.2,0.1,0.4,0.3,0.5,0.5S5,3,5,3.3H4.3
            C4.2,2.9,4,2.6,3.8,2.5z"/>
          <path class="st3" d="M5.8,3.3C5.9,3,6.1,2.7,6.3,2.4S6.7,2,7.1,1.8c0.3-0.2,0.7-0.2,1.1-0.2c0.4,0,0.8,0.1,1.1,0.2
            C9.6,2,9.8,2.2,10.1,2.4c0.2,0.3,0.4,0.6,0.5,0.9c0.1,0.3,0.2,0.7,0.2,1s-0.1,0.7-0.2,1c-0.1,0.3-0.3,0.6-0.5,0.9
            C9.8,6.5,9.6,6.7,9.3,6.9C9,7,8.6,7.1,8.2,7.1C7.7,7.1,7.4,7,7.1,6.9C6.7,6.7,6.5,6.5,6.3,6.3S5.9,5.7,5.8,5.4
            c-0.1-0.3-0.2-0.7-0.2-1S5.7,3.6,5.8,3.3z M6.4,5.1c0.1,0.3,0.2,0.5,0.3,0.7c0.1,0.2,0.3,0.4,0.6,0.5c0.2,0.1,0.5,0.2,0.8,0.2
            c0.3,0,0.6-0.1,0.8-0.2c0.2-0.1,0.4-0.3,0.6-0.5c0.1-0.2,0.3-0.4,0.3-0.7C10,4.9,10,4.6,10,4.4s0-0.5-0.1-0.8
            C9.8,3.3,9.7,3.1,9.6,2.9C9.4,2.7,9.2,2.5,9,2.4C8.8,2.2,8.5,2.2,8.2,2.2c-0.3,0-0.6,0.1-0.8,0.2C7.1,2.5,6.9,2.7,6.8,2.9
            C6.6,3.1,6.5,3.3,6.4,3.6C6.4,3.8,6.3,4.1,6.3,4.4S6.4,4.9,6.4,5.1z"/>
          <path class="st3" d="M12.5,1.7l1.7,4.4l1.7-4.4h1V7h-0.7V2.6h0L14.5,7h-0.6l-1.7-4.4h0V7h-0.7V1.7H12.5z"/>
          <path class="st3" d="M20.3,1.7c0.5,0,0.9,0.1,1.2,0.4c0.3,0.3,0.4,0.7,0.4,1.2c0,0.5-0.1,0.9-0.4,1.2c-0.3,0.3-0.7,0.4-1.2,0.4
            h-1.6V7H18V1.7H20.3z M20.1,4.2c0.4,0,0.7-0.1,0.9-0.2c0.2-0.2,0.3-0.4,0.3-0.7c0-0.3-0.1-0.6-0.3-0.7c-0.2-0.2-0.5-0.2-0.9-0.2
            h-1.4v1.9H20.1z"/>
          <path class="st3" d="M23.5,1.7v4.7h2.8V7h-3.5V1.7H23.5z"/>
          <path class="st3" d="M27.7,1.7V7H27V1.7H27.7z"/>
          <path class="st3" d="M31.1,1.7L33.1,7h-0.8l-0.6-1.6h-2.2L28.9,7h-0.7l2.1-5.3H31.1z M31.5,4.8l-0.9-2.5h0l-0.9,2.5H31.5z"/>
          <path class="st3" d="M34.4,1.7L37.2,6h0V1.7h0.7V7h-0.8l-2.8-4.2h0V7h-0.7V1.7H34.4z"/>
          <path class="st3" d="M38.4,2.3V1.7h4.2v0.6h-1.8V7h-0.7V2.3H38.4z"/>
        </g>
      </g>
      </g>
      </g>
      </svg>
    </a>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <p class="p-2 text-center">2018-2019 Geminides</p>
  </div>
</footer>

<!-- Bootstrap scripts -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<!-- Scroll library  -->
<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
<script src="/assets/js/aos.js" async defer></script>
<script>
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById('navbar').classList.add('navbar-shadow')
    } else {
      document.getElementById('navbar').classList.remove('navbar-shadow')
    }
  }
  window.onscroll = function () {
    scrollFunction()
  }

  // Crisp chat
  // window.setTimeout(function () {
  function crisplauncher() {
    window.$crisp = []
    window.CRISP_WEBSITE_ID = 'ed04cf12-0517-47a4-9b26-e4bef78b1b01'
      ; (function () {
        d = document
        s = d.createElement('script')
        s.src = 'https://client.crisp.chat/l.js'
        s.async = 1
        d.getElementsByTagName('head')[0].appendChild(s)
      })()
  }
  crisplauncher()
  // }, 4000);

  function initAos() {
    if (typeof AOS !== 'undefined') {
      var aosCSS = document.createElement('link')
      aosCSS.setAttribute('rel', 'stylesheet')
      aosCSS.setAttribute('href', '/assets/css/aos.css')
      document.body.appendChild(aosCSS)
      return AOS.init()
    }
    window.setTimeout(initAos, 100)
  }
  initAos()
</script>