<!-- FAQs  -->
<section class="faq" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
  <div class="container" itemscope itemtype="https://schema.org/FAQPage">
    <h2 id="faq" class="text-center">Questions & answers</h2>
    <p class="text-center">Find tutorials & help guides in our <a href="https://mailmeteor.com/support" target="_blank" rel="noopener">documentation</a>.</p>
    <div id="accordion-general" class="accordions">
      {% assign i = 0 %} {% for entry in site.data.faqs.education %}
      <div class="card" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="card-header accordionpointer collapsed" id="heading{{i}}" data-toggle="collapse" data-target="#collapse{{i}}">
          <h3 class="title-3 font-semibold mb-0" aria-expanded="false" aria-controls="collapse{{i}}" itemprop="name">{{entry.question}}</h3>
          <span class="faq-expander"></span>
        </div>

        <div
          id="collapse{{i}}"
          class="collapse"
          aria-labelledby="heading{{i}}"
          data-parent="#accordion-general"
          itemscope
          itemprop="acceptedAnswer"
          itemtype="https://schema.org/Answer"
        >
          <div class="card-body" itemprop="text">{{entry.answer | markdownify}}</div>
        </div>
      </div>
      {% assign i = i | plus:1 %} {% endfor %}
    </div>
    <div class="container d-flex flex-column align-items-center mt-5">
      <h3 class="title-2">Free Gmail Merge for Education</h3>
      <a href="/pricing" style="margin-top: 0.5rem" class="btn btn-primary" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
        Install Mailmeteor
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM15 8L15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L15 8ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893C6.90237 0.683418 6.90237 1.31658 7.29289 1.70711L8.70711 0.292893ZM7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L7.29289 14.2929ZM1 9H15V7H1V9ZM7.29289 1.70711L14.2929 8.70711L15.7071 7.29289L8.70711 0.292893L7.29289 1.70711ZM14.2929 7.29289L7.29289 14.2929L8.70711 15.7071L15.7071 8.70711L14.2929 7.29289Z"
            fill="white"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
