<!-- FAQs  -->
<section class="faq" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
  <div class="container">
    <h2 id="faq" class="text-center">Questions & answers</h2>
    <p class="text-center">Find tutorials & help guides in our <a href="https://mailmeteor.com/support" target="_blank" rel="noopener">documentation</a>.</p>
    <div id="accordion-billing" class="accordions">
      {% assign i = 0 %}
      <h3 class="text-blue-dark-reverse action-lg pt-3 text-uppercase">Billing</h3>
      {% for entry in site.data.faqs.billing %}
      <div class="card">
        <div class="card-header accordionpointer collapsed" id="heading{{i}}" data-toggle="collapse" data-target="#collapse{{i}}">
          <h3 class="title-3 font-semibold mb-0" aria-expanded="false" aria-controls="collapse{{i}}">{{entry.question}}</h3>
          <span class="faq-expander"></span>
        </div>

        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordion-billing">
          <div class="card-body">{{entry.answer | markdownify}}</div>
        </div>
      </div>
      {% assign i = i | plus:1 %} {% endfor %}
    </div>
    <div id="accordion-security" class="accordions">
      <h3 class="text-blue-dark-reverse action-lg pt-3 text-uppercase">Security & Privacy</h3>
      {% for entry in site.data.faqs.security %}
      <div class="card">
        <div class="card-header accordionpointer collapsed" id="heading{{i}}" data-toggle="collapse" data-target="#collapse{{i}}">
          <h3 class="title-3 font-semibold mb-0" aria-expanded="true" aria-controls="collapse{{i}}">{{entry.question}}</h3>
          <span class="faq-expander"></span>
        </div>

        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordion-security">
          <div class="card-body">{{entry.answer | markdownify}}</div>
        </div>
      </div>
      {% assign i = i | plus:1 %} {% endfor %}
    </div>
    <div id="accordion-deliverability" class="accordions">
      <h3 class="text-blue-dark-reverse action-lg pt-3 text-uppercase">Email deliverability</h3>
      {% for entry in site.data.faqs.deliverability %}
      <div class="card">
        <div class="card-header accordionpointer collapsed" id="heading{{i}}" data-toggle="collapse" data-target="#collapse{{i}}">
          <h3 class="title-3 font-semibold mb-0" aria-expanded="true" aria-controls="collapse{{i}}">{{entry.question}}</h3>
          <span class="faq-expander"></span>
        </div>

        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordion-deliverability">
          <div class="card-body">{{entry.answer | markdownify}}</div>
        </div>
      </div>
      {% assign i = i | plus:1 %} {% endfor %}
    </div>
    <div id="accordion-features" class="accordions">
      <h3 class="text-blue-dark-reverse action-lg pt-3 text-uppercase">Features</h3>
      {% for entry in site.data.faqs.features %}
      <div class="card">
        <div class="card-header accordionpointer collapsed" id="heading{{i}}" data-toggle="collapse" data-target="#collapse{{i}}">
          <h3 class="title-3 font-semibold mb-0" aria-expanded="true" aria-controls="collapse{{i}}">{{entry.question}}</h3>
          <span class="faq-expander"></span>
        </div>

        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordion-features">
          <div class="card-body">{{entry.answer | markdownify}}</div>
        </div>
      </div>
      {% assign i = i | plus:1 %} {% endfor %}
    </div>
    <div id="accordion-help" class="accordions">
      <h3 class="text-blue-dark-reverse action-lg pt-3 text-uppercase">Help</h3>
      {% for entry in site.data.faqs.help %}
      <div class="card">
        <div class="card-header accordionpointer collapsed" id="heading{{i}}" data-toggle="collapse" data-target="#collapse{{i}}">
          <h3 class="title-3 font-semibold mb-0" aria-expanded="true" aria-controls="collapse{{i}}">{{entry.question}}</h3>
          <span class="faq-expander"></span>
        </div>

        <div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordion-help">
          <div class="card-body">{{entry.answer | markdownify}}</div>
        </div>
      </div>
      {% assign i = i | plus:1 %} {% endfor %}
    </div>
    <div class="container d-flex flex-column align-items-center mt-5">
      <h3 class="title-2 m-0">Ready for take off?</h3>
      <a href="/pricing" class="btn btn-primary" style="margin-top: 0.5rem" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out"> GET MAILMETEOR </a>
    </div>
  </div>
</section>
