<!-- FAQs  -->
<section class="faq pt-3 pb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600" data-aos-easing="ease-out">
	<div class="container">
		<h2 id="faq" class="text-center">FAQs</h2>

		<div id="accordion">
			<div class="card">

				<div class="card-header accordionpointer collapsed" id="heading1" data-toggle="collapse" data-target="#collapse1">
					<p class="mb-0" aria-expanded="true" aria-controls="collapse1"> Is Mailmeteor free? </p>
					<span class="faqexpander"></span>
				</div>

				<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
					<div class="card-body">
						You can send up to <span class="highlight">100 emails a day with Mailmeteor for free</span>.
						We've doubled
						the free quota compared to existing mail merge solutions. If you want to benefit from
						premium features and
						unlock your sending limit, you can upgrade your account on <a href="https://mailmeteor.com/pricing">our paid plans</a>.
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading2" data-toggle="collapse" data-target="#collapse2">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse2"> How is Mailmeteor different from other mailing solutions?</p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
					<div class="card-body">
						Mailmeteor lets you send email campaigns from your Gmail inbox, contrary to email marketing softwares - like Mailchimp or Sendgrid. For your recipients, it is as if you actually wrote each and every emails. <span class="highlight">It means
							better email deliverability, less spams and way better opening rates!</span></br></br> You can also compare Mailmeteor to other mail merge extensions for Gmail - like <a href="https://mailmeteor.com/alternative/yetanothermailmerge">Yet another mail merge</a> or <a href="https://mailmeteor.com/alternative/gmass">Gmass</a>. Mailmeteor is different in three ways:
						<ul>
							<li><span class="highlight">Privacy first</span> - Mailmeteor never requires access to your email data while other add-ons (like YAMM or Gmass) can read, modify and delete your emails.</li>
							<li><span class="highlight">Stellar user experience</span> - Mailmeteor is built to make mail merge easier. Send your first campaign in a few simple steps.</li>
							<li><span class="highlight">Affordable pricing</span> - starting from $2.5 a month per user. Simple pricing that works at any scale.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading3" data-toggle="collapse" data-target="#collapse3">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse3"> How to avoid spam folders?</p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
					<div class="card-body">
						Mailmeteor directly sends emails from your Gmail account, it prevents your email from
						falling into spams. However,
						please be sure to abide by Google anti-spam policies:
						<ul>
							<li>
								<span class="highlight">Warm-up your Gmail account.</span> If your account is new,
								we recommend sending
								emails to a small list of recipients at first (less than 50 emails).
							</li>
							<li>
								<span class="highlight">Make sure your contact list is clean.</span> If your
								campaigns have a lot of
								bounced or undelivered emails, Google will detect that your database is outdated or
								not legitimate. We
								strongly recommended you to keep your database as clean as possible. <span class="highlight">If we detect spamming behavior, we will
									have to block your account.</span>
							</li>
							<li>
								Insert unsubscribe links in your emails if you are running marketing campaigns.
							</li>
						</ul>

					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading4" data-toggle="collapse" data-target="#collapse4">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse4"> To what extent can I personalize my emails fields?</p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
					<div class="card-body">
						The only limit is your imagination! You can personalize every part of the email, from
						subject to content. Some
						examples:
						<ul>
							<li>
								Personalized email subject. For example: "Partnership betwen {{company}} and
								Mailmeteor?"
							</li>
							<li>
								Personalized greetings and recipients name like "Ghostbusters, whatya want?"
							</li>
							<li>
								Personalized content: you can add personal notes, custom URLs, postscriptum...
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading5" data-toggle="collapse" data-target="#collapse5">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse5"> How does Mailmeteor keep my data
						safe? </p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
					<div class="card-body">
						By design, your data stays at all times on your Google Spreadsheet. Here's all the data
						we need in order to
						make Mailmeteor work:
						<ul>
							<li>Your email address <i>- to know who you are</i></li>
							<li>If you are a paying customer, your name to identify payment</li>
							<li>Campaigns sent metadata (number of emails, date of sending, sheet's name - <i>that's all</i>)</li>
							<li>Emails sent metadata (date of sending, opens and clicks events
								- <i>that's all again</i>)</li>
						</ul>
						Mailmeteor complies with the French Data Protection Laws and the European General Data
						Protection Regulation 2016/679 (GDPR). You have a right of access, correction and
						removal of your personal data which you may exercise by sending us a support ticket
						directly on the support chat or by sending an email at <a href="mailto:privacy@mailmeteor.com">privacy@mailmeteor.com</a>.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading7" data-toggle="collapse" data-target="#collapse7">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse7"> Can I add people in CC or
						BCC?</p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
					<div class="card-body">
						Sure you can. Add a column in your sheet with "cc" or "bcc" as header. Put emails in the
						cells, if you have several recipients in CC or BCC, separate emails with comma. Video
						tutorial available <a href="https://www.youtube.com/watch?v=ZtnetAyziwQ">here</a>.</span>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading8" data-toggle="collapse" data-target="#collapse8">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse8"> I need a helping hand with Mailmeteor</p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
					<div class="card-body">
						Contact us at <a href="mailto:hello@mailmeteor.com">hello@mailmeteor.com</a>,
						we'll be glad to help! Our team speaks English, French or Spanish. We are located in the Central European Summer Time zone, we take a few hours to answer your message depending the time of the day. Usually we answer right away or under 24 hours.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header accordionpointer collapsed" id="heading9" data-toggle="collapse" data-target="#collapse9">
					<p class="mb-0" aria-expanded="false" aria-controls="collapse9"> What is the difference between a meteor and a comet?</p>
					<span class="faqexpander"></span>
				</div>
				<div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
					<div class="card-body">
						A meteor is small rocky or metal object from space that enters the Earth’s atmosphere and vaporizes. It is shooting star. Mailmeteor project was born during the Geminids, a meteor shower near the Gemini constellation.
						Meteors are debris from comets or asteroids, bodies of ice, rock and dust that orbits the sun and can be miles of diameter. Learn more on <a href="https://spaceplace.nasa.gov/asteroid-or-meteor/en/">NASA's blog</a> about these fascinating objects. Ready for the <strong>mail meteor</strong> shower?
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<a href="https://support.mailmeteor.com/" class="btn btn-outline" style="max-width: 200px;margin: auto;margin-top: 20px;">Documentation ></a>
		</div>
	</div>

</section>