<!-- FEATURES -->

<section>
  <div class="container">
    <div class="row align-items-center my-5 py-5" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
      <div class="col-lg-6">
        <h2>A simple mail merge in Gmail</h2>
        <p>
          We've designed Mailmeteor to be the simplest <a href="/mail-merge-gmail">mail merge for Gmail</a>. Mailmeteor lives inside the Google Suite you're already familiar with,
          such as Gmail or Google Sheets to send emails
        </p>
        <a href="https://google.com" class="btn btn-secondary d-inline-block">INSTALL</a>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/features/cc-bcc.png" class="border-radius-lg w-100" alt="" />
      </div>
    </div>
    <div class="row align-items-center my-5 py-5" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
      <div class="col-lg-6 order-lg-12">
        <h2>Stay on top of customer support</h2>
        <p>
          Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu
          pretium pharetra at. Lectus viverra dui tellus ornare pharetra.
        </p>
        <a href="https://google.com" class="btn btn-secondary d-inline-block">INSTALL</a>
      </div>
      <div class="col-lg-6 order-lg-1">
        <img src="assets/img/features/cc-bcc.png" class="border-radius-lg w-100" alt="" />
      </div>
    </div>
    <div class="row align-items-center my-5 py-5" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
      <div class="col-lg-6">
        <h2>Stay on top of customer support</h2>
        <p>
          Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis. In venenatis sem arcu
          pretium pharetra at. Lectus viverra dui tellus ornare pharetra.
        </p>
        <a href="https://google.com" class="btn btn-secondary d-inline-block">INSTALL</a>
      </div>
      <div class="col-lg-6">
        <img src="assets/img/features/cc-bcc.png" class="border-radius-lg w-100" alt="" />
      </div>
    </div>
  </div>
</section>
