<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="google-site-verification" content="TShcwwV_esZ98tyJWg6fRMCTDcjUwGnfGBu087vga3M" />
<link rel="icon" href="/assets/img/brand/favicon.ico" type="image/x-icon" />

<title>{{ page.title }}</title>
<link rel="canonical" href="{{ page.canonical }}" />
<meta name="description" content="{{ page.description }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.og_title }}" />
<meta property="og:description" content="{{ page.og_description }}" />
<meta
  name="image"
  property="og:image"
  content="{{ page.og_image | default: 'https://mailmeteor.com/assets/img/opengraph/main.jpg' }}"
/>
<meta property="og:url" content="{{ page.og_url }}" />
<meta name="twitter:site" content="@mailmeteor" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ page.og_url }}" />
<meta name="twitter:title" content="{{ page.og_title }}" />
<meta name="twitter:description" content="{{ page.og_description }}" />
<meta
  name="twitter:image"
  content="{{ page.og_image | default: 'https://mailmeteor.com/assets/img/opengraph/main.jpg' }}"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/assets/css/main-20210417.css" />
