<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0" />
<meta name="google-site-verification" content="TShcwwV_esZ98tyJWg6fRMCTDcjUwGnfGBu087vga3M" />
<link rel="icon" href="/assets/img/brand/favicon.ico" type="image/x-icon" />

<title>{{ page.title }}</title>
<link rel="canonical" href="{{ page.canonical }}" />
<meta name="description" content="{{ page.description }}" />

<meta property="og:title" content="{{ page.og_title }}" />
<meta property="og:description" content="{{ page.og_description }}" />
<meta property="og:image" content="{{ page.og_image }}" />
<meta property="og:url" content="{{ page.og_url }}" />
<meta name="twitter:card" content="summary_large_image" />

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/assets/css/main.css" />
