<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0" />
<meta name="google-site-verification" content="TShcwwV_esZ98tyJWg6fRMCTDcjUwGnfGBu087vga3M" />
<link rel="icon" href="/assets/img/brand/favicon.ico" type="image/x-icon" />

<title>{{ page.title }}</title>
<link rel="canonical" href="{{ page.canonical }}" />
<meta name="description" content="{{ page.description }}" />

<meta property="og:title" content="{{ page.og_title }}" />
<meta property="og:description" content="{{ page.og_description }}" />
<meta property="og:image" content="{{ page.og_image }}" />
<meta property="og:url" content="{{ page.og_url }}" />

<!-- Bootstrap Stylesheet -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<!-- Scroll library -->
<!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/main.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136395985-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-136395985-1");
</script>

<script async src="https://js.stripe.com/v3/"></script>
<script>
  if (window.fetch && window.localStorage) {
    try {
      window._geo = JSON.parse(window.localStorage.getItem("_geo"));
    } catch (err) {}

    if (!window._geo) {
      window
        .fetch("https://ip-api.io/json/?token=d372470b9ce43e")
        .then((response) => response.json())
        .then((response) => {
          if (response.currency) window.localStorage.setItem("_geo", JSON.stringify(response));
          window._geo = response;
        })
        .catch();
    }
  }
</script>
