<nav class="navbar navbar-expand-lg" id="navbar" style="background-color: none">
  <div class="container">
    <a href="/"><img class="navbar-brand" alt="Mailmeteor logo" itemprop="logo" max-width="170" max-height="50" src="/assets/img/brand/logo_mailmeteor_white.svg" /></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTabs"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTabs">
      <ul class="navbar-nav ml-auto smooth-scroll">
        {% for nav in site.data.navigation.navbar %} {% unless nav[0] == "features" or nav[0] == "install" or nav[0] == "signin" %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ nav[1].url }}"> {{ nav[1][page.lang] }}</a>
        </li>
        {% endunless %} {% if nav[0] == "features" and page.lang == "en" %}
        <li class="nav-item dropdown">
          <a class="nav-link text-white" role="button" id="dropdownMenuButton" aria-haspopup="true" href="{{ nav[1].url }}"> {{ nav[1][page.lang] }}</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for section in site.data.features.sections %} {% if section.short_title and section.short_description %}
            <li class="features-dropdown-item">
              <a href="{{section.link}}" target="_blank" rel="noopener">
                <div>
                  <img src="{{section.thumbnail}}" alt="{{section.title}}" loading="lazy" />
                </div>
                <div>
                  <p>{{section.short_title}}</p>
                  <p>{{section.short_description}}</p>
                </div>
              </a>
            </li>
            {% endif %} {% endfor %}
            <li class="features-dropdown-all">
              <a href="/features" class="action-lg link-svg"
                >See all features
                <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM15 8L15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L15 8ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893C6.90237 0.683418 6.90237 1.31658 7.29289 1.70711L8.70711 0.292893ZM7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L7.29289 14.2929ZM1 9H15V7H1V9ZM7.29289 1.70711L14.2929 8.70711L15.7071 7.29289L8.70711 0.292893L7.29289 1.70711ZM14.2929 7.29289L7.29289 14.2929L8.70711 15.7071L15.7071 8.70711L14.2929 7.29289Z"
                    fill="#1a53ff"
                  />
                </svg>
              </a>
            </li>
            <li class="features-dropdown-video">
              <a href="https://www.youtube.com/watch?v=-YX65-kywOE&list=PLsZLp_pMhGGX50TEojjFHefFjJTkKtXVp" target="_blank">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="https://img.youtube.com/vi/-YX65-kywOE/mqdefault.jpg"
                      width="180px"
                      height="101px"
                      alt="How to mail merge in Gmail?"
                      loading="lazy"
                      class="border-radius-sm"
                    />
                  </div>
                  <div class="col-8 my-auto">
                    <p><strong>What is Mailmeteor?</strong></p>
                    <p>Let us show you around with this quick video tour that will guide you to send your first mail merge.</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
        {% elsif nav[0] == "features" and page.lang != "en" %}
        <li class="nav-item" style="color: #fff">
          <a class="nav-link" href="{{ nav[1].url }}"> {{ nav[1][page.lang] }}</a>
        </li>
        {% elsif nav[0] == "signin" %}
        <li class="nav-item">
          <a href="https://dashboard.mailmeteor.com" class="btn-sm btn-reverse d-inline-block"
            >{{ nav[1][page.lang] }}
            <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM15 8L15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L15 8ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893C6.90237 0.683418 6.90237 1.31658 7.29289 1.70711L8.70711 0.292893ZM7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L7.29289 14.2929ZM1 9H15V7H1V9ZM7.29289 1.70711L14.2929 8.70711L15.7071 7.29289L8.70711 0.292893L7.29289 1.70711ZM14.2929 7.29289L7.29289 14.2929L8.70711 15.7071L15.7071 8.70711L14.2929 7.29289Z"
                fill="#364361"
              /></svg
          ></a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</nav>
