<script>
  // Enabling Stripe popovers
  $(function () {
    $('[data-toggle="popover"]').popover();
  });

  /**
   * Render products cards
   */

  var _allProducts = {
    monthly: {
      title: "Monthly",
      recurrence: "/ month",
      prices: {
        usd: {
          amount: 8.99,
          price_id: "price_1HPMJIKALIjZusuQZjuI5Xop",
        },
        eur: {
          amount: 8.99,
          price_id: "price_1HPMIfKALIjZusuQi90z2OsL",
        },
      },
      OFF20: true,
    },
    yearly: {
      title: "Yearly",
      recurrence: "/ year",
      prices: {
        usd: {
          amount: 49.99,
          price_id: "price_1HlwUXKALIjZusuQfLtFodcR",
        },
        eur: {
          amount: 49.99,
          price_id: "price_1HlwUnKALIjZusuQn9490Ffy",
        },
      },
      OFF20: true,
    },
    lifetime: {
      title: "Lifetime",
      recurrence: "for life",
      prices: {
        usd: {
          amount: 199.99,
          price_id: "",
        },
        eur: {
          amount: 199.99,
          price_id: "",
        },
      },
    },
    "team-pack": {
      title: "Teams",
      prices: {
        usd: {
          price_id: "price_1IIVNzKALIjZusuQABvyWsND",
        },
        eur: {
          price_id: "price_1IIVOoKALIjZusuQoGlCPfxu",
        },
      },
    },
  };

  function renderProducts() {
    var currencies = { usd: "$", eur: "€" };

    $("[data-checkout-product]").each(function () {
      var card = $(this);
      var currency = getUserCurrency().toLowerCase();

      if (!currencies[currency]) {
        currency = "usd";
      }

      var productType = card.data("checkout-product");
      var product = _allProducts && _allProducts[productType];

      if (!product) {
        console.error("Undefined product: " + productType);
        return;
      }

      var title = card.find('[data-checkout-product-item="title"]');
      if (title && product.title) {
        title.first().text(product.title);
      }

      var priceElt = card.find('[data-checkout-product-item="price"]');
      var productPrice = (product.prices && product.prices[currency]) || null;
      var productRecurrence = product.recurrence;

      if (priceElt) {
        if (productPrice) {
          var amount = productPrice.amount.toString().split(".");
          var amountInteger = amount.shift();
          var amountDecimal = amount.length && amount.shift();
          var amountCurrency = currencies[currency];

          var priceHtml = '<small class="pricing-card-currency">' + amountCurrency + "</small>";
          priceHtml += amountInteger;
          priceHtml += "<sup>" + (amountDecimal ? "." + amountDecimal : "") + " " + productRecurrence + "</sup>";
          priceElt.first().html(priceHtml);

          if (product.OFF20 && getCoupon() === "OFF20") {
            var discount = (Math.round(productPrice.amount * (1 - 0.2) * 100) / 100).toString().split(".");
            var discountInteger = discount.shift();
            var discountDecimal = discount.length && discount.shift();
            var discountCurrency = currencies[currency];

            var discountHtml = '<small class="pricing-card-currency">' + discountCurrency + "</small>";
            discountHtml += discountInteger;
            discountHtml +=
              "<sup>" + (discountDecimal ? "." + discountDecimal : "") + " " + productRecurrence + "</sup>";

            priceElt
              .first()
              .html(
                '<strike style="font-size:0.7em">' +
                  priceHtml +
                  '</strike><span style="color:#FF486A;">' +
                  discountHtml +
                  "</span>"
              );
          }
        }
      }

      var cta = card.find('[data-checkout-product-item="cta"]');
      if (cta && cta.first()) {
        cta.first().data("checkout-product-id", (productPrice && productPrice.price_id) || "");
        cta.first().data("checkout-quantity", (productPrice && productPrice.quantity) || 1);
        cta.first().text(product.cta || "GET STARTED");
      }
    });
  }

  /**
   * Handle user's currency
   */

  var _defaultCurrency = "USD";
  var _cachedCurrency = null;

  function setUserCurrency(currency) {
    var currencyElt = $("[data-checkout-currency]").first();
    if (currencyElt) {
      _cachedCurrency = currency || _defaultCurrency;
      currencyElt.data("checkout-currency", currency || _defaultCurrency);
    }
  }

  function getUserCurrency() {
    if (_cachedCurrency) {
      return _cachedCurrency;
    }

    var currencyElt = $("[data-checkout-currency]").first();
    var currency = currencyElt.data("checkout-currency") || _defaultCurrency;
    _cachedCurrency = String(currency);
    return currency;
  }

  /**
   * Handle coupons
   */

  function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
  }

  function getCoupon() {
    var coupon = qs("coupon");

    return coupon || "";
  }

  /**
   * Initialize products
   */

  $(function () {
    // Try to retrieve user's currency
    if (window._geo && window._geo.currency) {
      setUserCurrency(window._geo.currency);
    }

    // Render products with user's currency
    renderProducts();
    renderTeamPack();

    // Handle confirmation modals
    function planConfirmationModal(event) {
      var button = $(event.relatedTarget);
      var productId = button.data("checkout-product-id");
      var productQuantity = button.data("checkout-quantity") || 1;

      if (!productId) {
        window.location.href = "https://mailmeteor.com/sales";
        event.preventDefault();
      } else {
        var modal = $(this);

        modal.find("input.checkout-plan-id").val(productId);
        modal.find("input.checkout-currency").val(getUserCurrency());
        modal.find("input.checkout-quantity").val(productQuantity);
        modal.find("input.checkout-coupon").val(getCoupon() === "OFF20" ? "promo_1IUC63KALIjZusuQ2mAGIzqM" : null);

        var quantitySelector = modal.find("#modalTeamQuantity");
        if (quantitySelector) {
          var option = quantitySelector.find("[value=" + productQuantity + "]");

          if (option.length) {
            option.prop("selected", true);
          } else {
            var custom = quantitySelector.find('[value="custom"]');

            if (!custom.length) {
              quantitySelector.append("<option value='custom' disabled>Custom packs:</option>");
            }

            quantitySelector.append(
              "<option value='" + productQuantity + "' selected>" + productQuantity + " users included</option>"
            );
          }
        }
      }
    }

    $("#pricingIndividualModal").on("show.bs.modal", planConfirmationModal);
    $("#pricingTeamModal").on("show.bs.modal", planConfirmationModal);

    // Handle 500 emails warning for Gmail users
    $("#pricingIndividualModal")
      .find('input[name="active_email"]')
      .first()
      .on("input", function (e) {
        var input = $(this);
        var val = input.val();
        var tip = $("#checkout-gmail-accounts-tip");
        var isGmailAccount = val.indexOf("@gmail.com") > -1 || val.indexOf("@googlemail.com") > -1;

        console.log(isGmailAccount, tip);
        if (!tip) {
          return;
        }

        if (isGmailAccount) {
          tip.show();
          console.log("showing");
        } else {
          tip.hide();
          console.log("hiding");
        }
      });
  });
</script>

<!-- Bootsrap Slider -->
<script src="https://cdn.jsdelivr.net/gh/seiyria/bootstrap-slider@11.0.2/dist/bootstrap-slider.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/seiyria/bootstrap-slider@11.0.2/dist/css/bootstrap-slider.min.css"
/>

<script>
  $(function () {
    $("#pricingTeamSlider")
      .slider({
        min: 2,
        max: 100,
        value: 5,
        scale: "logarithmic",
        tooltip: "always",
        tooltip_position: "bottom",
        lock_to_ticks: true,
        formatter: function (value) {
          if (value > 25) {
            return "Contact us";
          }
          return value + " users";
        },
      })
      .on("change", function (event) {
        if (!event || !event.value) {
          return;
        }
        var units = event.value.newValue;
        renderTeamPack(units);
      });
  });

  function renderTeamPack(units = 5) {
    var cta = $(".pricing-team--cta").first();
    var pack = $(".pricing-team--pack").first();
    var amountElt = $(".pricing-team--amount").first();
    var savingsElt = $(".pricing-team--save").first();

    if (units > 25) {
      cta.html("Contact us &rarr;");
      cta.data("checkout-product-id", null);
      pack.data("checkout-product-id", null);
      return;
    }

    function computePackPrice(units) {
      var total = 0;

      if (units <= 3) {
        total = units * 33.33;
      } else if (units <= 5) {
        total = 3 * 33.33 + (units - 3) * 30;
      } else {
        total = 3 * 33.33 + 2 * 30 + (units - (3 + 2)) * 28;
      }

      return total;
    }

    var amount = computePackPrice(units);
    var save = units * 8.99 * 12 - amount;
    var currency = getUserCurrency();
    var currencySymbol = currency === "EUR" ? "€" : "$";

    cta.html("Get " + units + " users pack &rarr;");
    pack.text(units + " users pack");
    amountElt.text("= " + currencySymbol + amount.toFixed(2) + " / year");
    savingsElt.text("(save " + currencySymbol + save.toFixed(0) + " / year!)");

    var product = _allProducts["team-pack"];
    var productPrice = (product.prices && product.prices[currency.toLowerCase()]) || null;
    var productId = (productPrice && productPrice.price_id) || null;

    pack.data("checkout-product-id", productId);
    cta.data("checkout-product-id", productId);
    pack.data("checkout-quantity", units);
    cta.data("checkout-quantity", units);
  }
</script>
