<!-- PRICING TABLE -->

<section data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
  <div class="container">
    <h2 class="text-center">Get Mailmeteor</h2>
    <p class="text-center mb-3">Start free, upgrade whenever you need.</p>
    <div class="container d-flex flex-wrap justify-content-center text-center mt-4">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
        <div class="pricing-card" style="height: auto">
          <div class="pricing-card-header">
            <h3>Free plan</h3>
            <span class="pricing-is-centered">Get up and running for free</span>
          </div>
          <div class="pricing-card-body">
            <ul class="pricing-plan-features">
              <li>75 emails per day</li>
              <li>Preview emails</li>
              <li>Manage unsubscribes</li>
            </ul>
          </div>
          <a href="https://workspace.google.com/marketplace/app/mailmeteor_mail_merge_for_gmail/1008170693301" class="btn btn-secondary">START FREE</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-5 mb-5" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
        <div class="pricing-card" style="border-color: #fc4b6d; border-width: 2px">
          <div class="pricing-card-header">
            <h3>Mailmeteor Premium</h3>
            <span class="pricing-is-centered">Unlock full sending capacity</span>
          </div>
          <div class="pricing-card-body">
            <ul class="pricing-plan-features">
              <li>
                <strong>Up to 2000 emails per day</strong>
              </li>
              <li>Preview emails</li>
              <li>Manage unsubscribes</li>
              <li>Realtime emails tracking</li>
              <li>Add attachments</li>
              <li>Send with email alias</li>
              <li>Schedule send</li>
              <li>Send emails on Autopilot</li>
              <li>Email deliverability booster</li>
              <li>Import HTML templates</li>
              <li>Manage your team</li>
            </ul>
            <p class="text-left">
              <a href="/features" class="link-svg"
                >See all features
                <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM15 8L15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L15 8ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893C6.90237 0.683418 6.90237 1.31658 7.29289 1.70711L8.70711 0.292893ZM7.29289 14.2929C6.90237 14.6834 6.90237 15.3166 7.29289 15.7071C7.68342 16.0976 8.31658 16.0976 8.70711 15.7071L7.29289 14.2929ZM1 9H15V7H1V9ZM7.29289 1.70711L14.2929 8.70711L15.7071 7.29289L8.70711 0.292893L7.29289 1.70711ZM14.2929 7.29289L7.29289 14.2929L8.70711 15.7071L15.7071 8.70711L14.2929 7.29289Z"
                    fill="#1a53ff"
                  /></svg
              ></a>
            </p>
          </div>
          <a href="https://mailmeteor.com/pricing" class="btn btn-primary">VIEW ALL PLANS</a>
        </div>
      </div>
    </div>
  </div>
</section>
