<!-- What's included -->
<section style="margin-bottom: 8rem">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-3" id="pricing-included-features">
        <h2 class="mt-4">Just the simplest, most affordable, and privacy-focused emailing platform.</h2>
        <p>
          Mailmeteor lets you send personalized emails without limits. Your emailing experience is made effortless and designed to respect your privacy. Here's a foretaste of what
          you can achieve with Mailmeteor.
        </p>
      </div>
      <div class="col-md-7">
        <ul class="p-0">
          {% for feature in site.data.pricing.features %}
          <li class="d-flex my-3">
            <img src="/assets/img/elements/tick-round.svg" alt="tick" width="20px" style="margin: 1rem" />
            <div><b>{{feature.title}}</b> {{feature.description}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
