<section>
    <div class="container">
        <table class="w-100 table-responsive-sm pricing-features-grid">
          <thead>
            <tr>
              <th style="width: 25%" class="text-blue-dark-reverse action-lg">WHAT'S INCLUDED?</th>
              <th style="width: 18.75%" class="text-center d-none d-md-table-cell">FREE</th>
              <th style="width: 18.75%" class="text-center">PREMIUM</span></th>
              <th style="width: 18.75%" class="text-center">PRO</span></th>
              <th style="width: 18.75%" class="text-center">BUSINESS</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Emails per day<span
                    class="d-none d-md-inline-block"
                    data-toggle="popover"
                    title="Google's sending policy"
                    data-content="To help prevent spam and keep accounts safe, Gmail limits the number of emails that can be sent per day: <ul><li>Google Workspace accounts can send up to 2000 emails per day</li><li>Gmail accounts (@gmail.com) can send up to 500 emails per day</li></ul>Mailmeteor allows you to send personalized emails up to these limits imposed by Gmail. Learn more in our FAQ below."
                    data-trigger="hover"
                    data-html="true"
                    ><img class="ml-1" style="max-width: 16px" src="/assets/img/elements/info.svg" alt="Information mark"
                  /></span></td>
                <td class="text-center d-none d-md-table-cell">75 emails</td>
                <td class="text-center font-weight-bold">2000 emails</td>
                <td class="text-center font-weight-bold">2000 emails</td>
                <td class="text-center font-weight-bold">2000 emails</td>
            </tr>
            <tr>
                <td><span>Personalize emails</td>
                <td class="text-center d-none d-md-table-cell"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td><span>Add CC or BCC</td>
                <td class="text-center d-none d-md-table-cell"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td><span>Insert images</td>
                <td class="text-center d-none d-md-table-cell"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td><span>Preview emails before sending</td>
                <td class="text-center d-none d-md-table-cell"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
              <td>Unsubscribe links</td>
              <td class="text-center d-none d-md-table-cell"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
              <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
              <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
              <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td><span class="font-weight-bold text-uppercase font-small">PREMIUM FEATURES</td>
                <td class="text-center d-none d-md-table-cell"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
            <tr>
              <td>Real-time email tracking</td>
              <td class="text-center d-none d-md-table-cell"> - </td>
              <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
              <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
              <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Schedule campaigns</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Send emails on Autopilot</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Add attachments</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Send emails from an alias</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center">3</td>
                <td class="text-center">5</td>
                <td class="text-center">Unlimited</td>
            </tr>
            <tr>
                <td>Import your HTML templates</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Integrate with your CRM</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Invite new users</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Detailed reporting</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td><span class="font-weight-bold text-uppercase font-small">PRO FEATURES</td>
                <td class="text-center d-none d-md-table-cell"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Email sequences in Gmail</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Auto-followup</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Follow-up if no reply</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Bounce detection in sequences</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Replies detection in sequence</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td><span class="font-weight-bold text-uppercase font-small">BUSINESS FEATURES</td>
                <td class="text-center d-none d-md-table-cell"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>Follow-up after a minute</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Custom tracking domain</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Custom coaching from our email deliverability experts</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
            <tr>
                <td>Priority email support</td>
                <td class="text-center d-none d-md-table-cell"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"> - </td>
                <td class="text-center"><img src="/assets/img/elements/tick-pricing-grid.svg" alt="checkmark"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      
</section>