<!-- REVIEWS -->
<section class="reviews">
	<div class="container" style="width:80%">
		<div class="row">
			<div class="col-xs-12 col-md-6 my-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
				<div class="reviewcard">
					<div class="review-comment d-flex">
						<p class="review-quote">’’</p>
						<p class="review-text px-3">A cut above the rest of the mailmerge options available. Super easy to use and a generous free plan. Plus, importantly, it doesn't request permission to read my emails.</p>
					</div>
					<div class="review-profile d-flex align-items-center">
						<img style="border-radius:50%; min-width:36px;max-width:36px;max-height:35px;" src="/assets/img/testimonials/review-profiles/Mike-Lanes.png" alt="Mike_Lanes" />
						<div class=" d-flex flex-column">
							<p class="pl-3 font-weight-bold">Mike</p>
							<p class="pl-3" style="color:#B8BCCC">Lanes.io</p>
						</div>
						<svg class="review-stars pl-3" width="100px" height="15px" viewBox="0 0 100 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>5-star ratings</title>
							<g id="Stars" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_1_" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_2_" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-_1_" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="review-shifted col-xs-12 col-md-6 my-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
				<div class="reviewcard">
					<div class="review-comment d-flex">
						<p class="review-quote">’’</p>
						<p class="review-text px-3">This add on is extremely practical and easy to use. Saves me a lot of time when emailing multiple recipients. I highly recommend it!</p>
					</div>
					<div class="review-profile d-flex align-items-center">
						<img style="border-radius:50%;min-width:36px;max-width:36px;max-height:35px;" src="/assets/img/testimonials/review-profiles/Stephanie-Facebook.jpg" alt="Stephanie-Facebook" />
						<div class=" d-flex flex-column">
							<p class="pl-3 font-weight-bold">Stéphanie</p>
							<p class="pl-3" style="color:#B8BCCC">Facebook</p>
						</div>
						<svg class="review-stars pl-3" width="100px" height="15px" viewBox="0 0 100 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>5-star ratings</title>
							<g id="Stars" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_1_" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_2_" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-_1_" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 my-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
				<div class="reviewcard">
					<div class="review-comment d-flex">
						<p class="review-quote">’’</p>
						<p class="review-text px-3">Helps in sending mails to multiple recipients and helps personalizing the content. Good app.</p>
					</div>
					<div class="review-profile d-flex align-items-center">
						<img style="border-radius:50%;min-width:36px;max-width:36px;max-height:35px;" src="/assets/img/testimonials/review-profiles/Mudita-Freshbooks.png" alt="Mudita-Freshbooks" />
						<div class=" d-flex flex-column">
							<p class="pl-3 font-weight-bold">Mudita</p>
							<p class="pl-3" style="color:#B8BCCC">Freshbooks</p>
						</div>
						<svg class="review-stars pl-3" width="100px" height="15px" viewBox="0 0 100 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>5-star ratings</title>
							<g id="Stars" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_1_" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_2_" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-_1_" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="review-shifted col-xs-12 col-md-6 my-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
				<div class="reviewcard">
					<div class="review-comment d-flex">
						<p class="review-quote">’’</p>
						<p class="review-text px-3">One of the best email marketing tool to send personalize emails tomaximum number of contacts in a given time.</p>
					</div>
					<div class="review-profile d-flex align-items-center">
						<img style="border-radius:50%;min-width:36px;max-width:36px;max-height:35px;" src="/assets/img/testimonials/review-profiles/David-Iterable.jpg" alt="David_Iterable" />
						<div class=" d-flex flex-column">
							<p class="pl-3 font-weight-bold">David</p>
							<p class="pl-3" style="color:#B8BCCC">Iterable</p>
						</div>
						<svg class="review-stars pl-3" width="100px" height="15px" viewBox="0 0 100 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>5-star ratings</title>
							<g id="Stars" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_1_" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_2_" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-_1_" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6 my-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
				<div class="reviewcard">
					<div class="review-comment d-flex">
						<p class="review-quote">’’</p>
						<p class="review-text px-3">Makes your recipients feel unique when compared to an email blast from a Mailchimp style platform. I love it, especially for smaller lists where you need a personal touch.</p>
					</div>
					<div class="review-profile d-flex align-items-center">
						<img style="border-radius:50%;min-width:36px;max-width:36px;max-height:35px;" src="/assets/img/testimonials/review-profiles/Jean-Geminides.png" alt="Jean-Geminides" />
						<div class=" d-flex flex-column">
							<p class="pl-3 font-weight-bold">Jean</p>
							<p class="pl-3" style="color:#B8BCCC">Geminides</p>
						</div>
						<svg class="review-stars pl-3" width="100px" height="15px" viewBox="0 0 100 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>5-star ratings</title>
							<g id="Stars" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_1_" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_2_" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-_1_" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="review-shifted col-xs-12 col-md-6 my-2" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
				<div class="reviewcard">
					<div class="review-comment d-flex">
						<p class="review-quote">’’</p>
						<p class="review-text px-3">Of all the mail merge add-ons I've used for Google Sheets, this one is so far my favorite. I especially love how the templates don't have to be stored in my Gmail drafts.
							Super easy, great interface, pretty smooth add-on.</p>
					</div>
					<div class="review-profile d-flex align-items-center">
						<img style="border-radius:50%;min-width:36px;max-width:36px;max-height:35px;" src="/assets/img/testimonials/review-profiles/Matthew-Post-Script.png" alt="Matthew-Post-Script" />
						<div class=" d-flex flex-column">
							<p class="pl-3 font-weight-bold">Matthew</p>
							<p class="pl-3" style="color:#B8BCCC">Post Script Music</p>
						</div>
						<svg class="review-stars pl-3" width="100px" height="15px" viewBox="0 0 100 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<title>5-star ratings</title>
							<g id="Stars" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_1_" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star_2_" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star-_1_" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
								<g id="Stars" transform="translate(-290.000000, -120.000000)">
									<rect id="Rectangle" stroke="#EEEEEE" fill="#FFFFFF" fill-rule="nonzero" x="0.5" y="0.5" width="424" height="163" rx="8"></rect>
									<g id="Group" transform="translate(25.000000, 79.000000)">
										<g id="5-stars" transform="translate(185.000000, 0.000000)">
											<g id="Ratings" transform="translate(79.000000, 40.000000)">
												<g id="star">
													<polygon id="Path" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_1_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_2_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(21.000000, 0.000000)">
													<polygon id="Path_3_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_4_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_5_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(42.000000, 0.000000)">
													<polygon id="Path_6_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_7_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_8_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(63.000000, 0.000000)">
													<polygon id="Path_9_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_10_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_11_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
												<g id="star" transform="translate(84.000000, 0.000000)">
													<polygon id="Path_12_" points="0 0 18 0 18 18 0 18"></polygon>
													<polygon id="Path_13_" fill="#F4B400" points="9 13 13.6 15.8 12.4 10.5 16.5 6.9 11.1 6.5 9 1.5 6.9 6.5 1.5 6.9 5.6 10.5 4.4 15.8"></polygon>
													<polygon id="Path_14_" points="0 0 18 0 18 18 0 18"></polygon>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</svg>
					</div>
				</div>
			</div>

		</div>
</section>