<!-- TESTIMONIALS  -->
<section class="testimonials" data-aos="fade-in" data-aos-duration="800" data-aos-easing="ease-out">
    <div class="container">
        <h2 class="text-center">Join 2.5 million professionals</h2>
        <p class="text-center">Companies & organizations from all over the world trust Mailmeteor. Read <a href="https://workspace.google.com/marketplace/app/mailmeteor_mail_merge_for_gmail/1008170693301">all reviews</a>.</h3>
            {%- include testimonials-logo.html -%}
    </div>
</section>