<!--  TUTORIAL -->
<section class="tutorial">
  <div class="container" style="top:-4rem;position:relative">
    <h2 class="text-center">Get started</h2>
    <p class="text-center">
      Watch our tutorial or read our
      <a href="https://support.mailmeteor.com/introduction/quick-start/mailmeteor-tutorial">step-by-step guide</a>.
    </p>
    <div class="d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 mt-2">
        <div class="embed-responsive embed-responsive-16by9" data-aos="fade-in" data-aos-duration="800">
          <iframe loading="lazy" class="embed-responsive-item" title="Mailmeteor Product Tour" show-info="O" src="https://www.youtube.com/embed/ccO5i3gQXSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
      <div class="col-xs-12 col-md-4 col-lg-3 pt-3 pb-4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out">
        <div class="tutorial-card">
          <h2 id="steps1" class="steps">Add contacts in Google Sheets</h2>
          <p class="text-center">In Google Sheets, create a spreadsheet then add your list of recipients.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3 pt-3 pb-4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out" data-aos-delay="100">
        <div class="tutorial-card">
          <h2 id="steps2" class="steps">Create your email template</h2>
          <p class="text-center">Open Mailmeteor, create a new email template or select an existing one.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3 pt-3 pb-4" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out" data-aos-delay="200">
        <div class="tutorial-card">
          <h2 id="steps3" class="steps">Preview emails and send</h2>
          <p class="text-center">Once you're done setting up the campaign, you're all set to test and send!</p>
        </div>
      </div>
    </div>
  </div>
</section>