<!-- VALUES -->
<section class="values" id="features" style="z-index: -1">
  <div class="values-svg"></div>
  <div class="container" style="padding-top: 16rem; padding-bottom: 12rem">
    <p class="values-testimonials">Trusted by 3 million users</p>
    {%- include testimonials-logo.html -%}
    <h2 class="text-white text-center mt-5">Why Mailmeteor?</h2>
    <p class="text-white text-center m-0">
      Mailmeteor is the best rated add-on of the Google Marketplace,<br class="d-none d-md-block" />
      your mail merge experience is made effortless and designed to respect your privacy.
    </p>
    <div class="container py-3">
      <div class="row">
        <div class="col-xs-12 col-lg-4 mb-2" data-aos="fade-in" data-aos-duration="600" data-aos-easing="ease-out">
          <div class="values-items">
            <img class="tab_icon" src="/assets/img/icons/meteor.svg" alt="Meteor icon" />
            <span class="heading">Save time sending emails with Gmail.</span>
            <span class="text-white">Easily send mass emails with Gmail that feel personal. Make your recipients feel special.</span>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 mb-2" data-aos="fade-in" data-aos-duration="600" data-aos-easing="ease-out" data-aos-delay="200">
          <div class="values-items">
            <img class="tab_icon" src="/assets/img/icons/radar.svg" alt="Radar icon" />
            <span class="heading">Make sure your emails land in the Inbox.</span>
            <span class="text-white">We maximize your email deliverability and send emails directly from Gmail.</span>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 mb-2" data-aos="fade-in" data-aos-duration="600" data-aos-easing="ease-out" data-aos-delay="400">
          <div class="values-items">
            <img class="tab_icon" src="/assets/img/icons/stars.svg" alt="Stars icon" />
            <span class="heading">Designed to respect your privacy.</span>
            <span class="text-white">Mailmeteor needs only minimal permissions to run, contrary to other mail merge add-ons.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
