---
layout: default
title: The Best Google apps to improve Google Workspace (G Suite)
description: Choose from 100+ hand-curated collections of free & paid Google Apps to enhance your Google Workspace (formerly G Suite apps)
canonical: https://mailmeteor.com/best-google-apps/

og_title: The Best Google apps to improve Google Workspace (G Suite)
og_description: Choose from 100+ hand-curated collections of free & paid Google Apps to enhance your Google Workspace (formerly G Suite apps)
og_image: https://mailmeteor.com/assets/img/opengraph/best-google-apps.jpg

breadcrumb:
  - name: Best Google Workspace Apps
    link: /best-google-apps/
---

<main itemscope itemtype="https://schema.org/ItemList">
  <div class="container page-title">
    <h1 itemprop="name">The Best Google apps to improve Google Workspace & G Suite</h1>
    <link itemprop="itemListOrder" href="https://schema.org/ItemListOrderDescending" />
    <p itemprop="description">Choose from 100+ hand-curated collections of free & paid Google Apps to enhance your Google Workspace (formerly G Suite apps)</p>
    <img itemprop="image" src="/assets/img/elements/workspace.webp" style="max-width: 300px" alt="Best Google Apps" />
  </div>

  <!-- Categories Directory -->
  <section>
    <div class="gapps-directory container">
      {% for category in site.data.gapps-directory.categories %}
      <div class="gapps-categories-card">
        <a href="{{ category.title | replace: '&', '' | slugify }}">
          {% if category.image %}
          <img class="mx-auto" src="{{ category.image }}" alt="{{ category.title | replace: '&', '' | slugify }}" />
          {% endif %}
          <h2 itemprop="itemListElement">{{ category.title }}</h2>
          <p style="text-transform: capitalize">{% if category.description %} {{ category.description }} {% else %} Best {{ category.title }} apps {% endif %}</p>
          <span> View </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- All Google Apps -->

  <section>
    <div class="article-container">
      <div class="container is-centered">
        <h3 class="mt-5 mb-3">Browse all Google Apps</h3>
        <p>The complete list of Google Apps for Workspace & G Suite</p>
        <p class="mb-5">
          <a href="/best-google-apps/all/">View all the best Google Workspace Apps</a>
        </p>
      </div>
    </div>
  </section>
</main>
