body.blogpost {
  margin: 0;
  padding: 0;
}

.blogpost article {
  margin: 0;
  padding: 0;
}

/**
 * Blogpost > Header
 */

.blogpost-header {
  padding: 1rem 0 3rem 0;
  min-height: 22rem;
  color: #fff;
  background: rgb(10, 19, 88);
  background: linear-gradient(
    170deg,
    rgba(10, 19, 88, 1) 0%,
    rgba(14, 24, 123, 1) 20%,
    rgba(19, 35, 183, 1) 100%
  );
}

.blogpost-header h1 {
  color: #fff;
  max-width: 760px;
  margin: 1rem auto;
}

.blogpost-header a {
  color: #fff;
}

.blogpost-header-tagline {
  display: none;
  font-style: italic;
  font-size: 0.9rem;
}

.blogpost-header-tagline a {
  color: #ff486a;
}

.blogpost-header-image {
  max-width: 380px;
  width: 100%;
}

.blogpost-header-meta {
  font-size: 0.9rem;
}

/**
 * Blogpost > Content
 */

.blogpost-content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Headings */

.blogpost-content h2,
.blogpost-content h3,
.blogpost-content h4 {
  margin: 2rem 0 1rem 0;
  font-weight: bold;
}

.blogpost-content h2 {
  font-size: 1.8rem;
  padding: 3rem;
  background-color: #7da4ff17;
  border-radius: 4px;
}

.blogpost-content h3 {
  font-size: 1.6rem;
}

.blogpost-content h4 {
  font-size: 1.4rem;
}

/* Text & images */

.blogpost-content main img,
.blogpost-content main video {
  width: 600px;
  max-width: 100%;
  margin: 1.5rem auto;
  border: none;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%), 0 0 6px 0 rgb(0 0 0 / 10%),
    0 2px 2px -2px rgb(0 0 0 / 15%);
  display: block;
}

.blogpost-content main img.no-shadow,
.blogpost-content main video.no-shadow {
  box-shadow: none;
}

.blogpost-content strong {
  font-weight: bold;
}

.blogpost-content figcaption {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
}

/**
 * Blogpost > Table of contents
 */

.blogpost-toc {
  font-size: 0.9rem;
  padding-left: 0;
}

.blogpost-toc ul,
.blogpost-toc ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blogpost-toc li {
  padding: 4px 8px;
}

.blogpost-toc li:first-child {
  background: #7da4ff17;
  border-radius: 4px;
}

/**
 * Blogpost > Social share buttons
 */

.blogpost-share {
  position: sticky;
  top: 16px;
  align-self: flex-start;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 2px 10px;
  border: 1px solid #ebebeb;
  width: 75px;
  margin: 0 auto;
}

.blogpost-share ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blogpost-share li a {
  font-size: 26px;
  width: 50px;
  height: 50px;
}

.blogpost-share li a img {
  height: 100%;
  max-width: 32px;
  max-height: 32px;
  pointer-events: none;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
