/* 
*  CSS TABLE OF CONTENTS
*   
*  1 - Global
*  2 - Buttons
*  3 - Navbar
*  4 - Homepage sections
*   4.1 - Hero
*   4.2 - Values
*   4.3 - Tutorial
*  5 - Pricing
*   5.1 - Pricing toggle
*   5.2 - Pricing cards
*   5.3 - Pricing header
*   5.4 - Pricing body
*   5.5 - Pricing features
*   5.6 - Pricing modal
*  6 - Includes
*   6.1 - Pricing table
*   6.2 - Testimonials
*   6.3 - FAQ
*   6.4 - Footer
*  7 - Articles
*  8 - Support page
*   6.4 - Support search
*   6.4 - Support featured
*   6.4 - Support popular
*  9 - Features page
*  10 - Animations
*  11 - Fonts
*/

/* ######## 1. GLOBAL ######## */

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 17px;
}

body {
  padding-top: 6rem;
  padding-bottom: 10rem;
  color: black;
}

section {
  margin-bottom: 4rem;
}

body,
p,
span,
h3,
h4,
h5,
h6,
a:not(.btn),
table,
li {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
a {
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  color: #7da4ff;
  text-decoration: none;
}

nav {
  min-height: 75px;
}

#logo {
  width: 150px;
}

/* Headings */

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #04143a;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #04143a;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

/* SEO tags */

strong {
  font-style: inherit;
  font-weight: inherit;
}

/* Generic styling */

.is-white {
  color: white;
}

.is-centered {
  margin: auto;
  text-align: center;
}

/* Handling big displays > 1920px */

@media (min-width: 1920px) {
  html {
    zoom: 105%;
  }
}

/* Disable CSS transition on page load */

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* ######## 2. BUTTONS ######## */

button,
.btn {
  font-size: 100%;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  letter-spacing: 0.05rem;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

button:hover,
.btn:hover {
  cursor: pointer;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.btn-outline {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ff486a;
  font-weight: 500;
  border: 2px solid;
  border-color: #ff486a;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.btn-outline:hover {
  color: #ffffff;
  background-color: #ff486a;
}

.btn-filled {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 700;
  border: 2px solid;
  border-color: #ff486a;
  background-color: #ff486a;
  outline: none;
  cursor: pointer;
}

.btn-filled:hover {
  color: #fff;
  background-color: #e83f5e;
}

.btn-inline {
  display: inline-block !important;
}

/* ######## 3. NAVBAR ######## */

.navbar .btn {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.3em 0.6em 0.3em 0.6em;
}

.navbar-nav .nav-link {
  padding-right: 0;
  text-align: center;
}

.nav-link {
  transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
  letter-spacing: 0.04rem;
  font-family: "Poppins", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #04143a;
  font-weight: 700;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: #ff486a !important;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  align-self: center;
}

.nav-divider {
  align-self: center;
  height: 14px;
  margin: 0 1rem;
  border-right: 1px solid rgb(221, 221, 221);
}

.navbar-shadow {
  box-shadow: -2px -4px 20px 0px rgba(32, 41, 50, 0.12);
}

.bg-light {
  background-color: #ffffff !important;
}

@media (max-width: 576px) {
  #navbar {
    box-shadow: -2px -4px 20px 0px rgba(32, 41, 50, 0.12);
  }
}

@media (max-width: 240px) {
  body {
    padding-top: 160px;
  }
}

@media (max-width: 768px) {
  .top-svg {
    display: none;
  }
  .nav-divider {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color: #333;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
}

/* Navbar toggler  */

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Navbar dropdown */

.navbar .dropdown-menu {
  min-width: 520px !important;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu p {
  margin: 0;
  color: black;
  font-size: 0.8rem;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.25rem;
  padding: 1rem 0.5rem;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.25s;
}

@media only screen and (max-width: 767px) {
  /* drop down menu hover for device */
  .navbar .dropdown:hover > .dropdown-menu {
    display: none;
  }
}

.navbar .dropdown-items {
  display: flex;
  padding: 0.5rem;
  border-radius: 8px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.navbar .dropdown-items:hover {
  background-color: #7da4ff17;
}

.navbar .dropdown-items img {
  margin: 0.2rem 0.5rem;
  width: 65px;
  border-radius: 4px;
}

.navbar .dropdown-items p:first-of-type {
  color: #7da4ff;
  font-weight: bold;
  font-size: 0.85rem;
}

.navbar .dropdown-menu li:last-child {
  color: #7da4ff;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

/* ######## 4. SECTIONS ######## */

/* #### 4.1 Hero section #### */

section.hero video {
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.1) l;
}

@media (max-width: 992px) {
  .hero {
    text-align: center;
  }
}

/* #### 4.2 Values section #### */

section.values {
  margin: 0;
  top: -10rem;
  position: relative;
}

.values svg {
  fill: #007bff;
}

.values-testimonials {
  text-align: center;
  color: #007bff;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
}

.values-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/background/values.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 532px) {
  .values br {
    display: none;
  }
}

/* Values items */

@media (max-width: 1330px) {
  .values-items {
    margin: 0;
    width: 100%;
  }
}

.values-items {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 0px 20px 80px;
}

.values-items .tab_icon {
  position: absolute;
  left: 15px;
  top: 30px;
  max-width: 35px;
}

.values-items .heading {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.values-items .summary {
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}

#Gsuite_verified {
  width: 220px;
}

/* #### 4.3 Tutorial section ####*/

/* Youtube video - Remove black bars on Youtube video */

.yt-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.yt-video-wrapper iframe,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrap {
  width: 100%;
  max-height: 500px; /* And set the max-width of the parent element */
}

.tutorial button {
  margin: 1rem auto;
}

.steps {
  text-align: center;
  padding-top: 1rem;
}

#steps1:before {
  content: "";
  height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/elements/number1.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

#steps2:before {
  content: "";
  height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/elements/number2.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

#steps3:before {
  content: "";
  height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/elements/number3.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

.tutorial-card {
  padding: 1rem;
  width: 100%;
  min-height: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
}

.tutorial-card:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

.tutorial-card h2 {
  font-size: 1.3rem;
}

/* ####### 5. PRICING ######## */

#pricing-plans {
  background: linear-gradient(to bottom, #fff, #f5f6fa3b);
  z-index: -2;
  margin-bottom: 0;
}

.pricing-header,
.comparison-header {
  padding: 0.3rem;
  max-width: 700px; /* applies both on home and pricing page */
}

/* #### 5.1 Pricing toggle #### */

#pricing-plans .btn-group-toggle-recurrence .btn {
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0rem;
}

#pricing-plans .btn-group-toggle-recurrence .btn {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #ff486a;
  border: 2px solid;
  border-color: #ff486a;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 0.25rem 1rem;
}

#pricing-plans .btn-group-toggle-recurrence .btn.active {
  color: white;
  background-color: #ff486a;
}

/* #### 5.2 Pricing cards #### */

.pricing-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
  padding: 0.5rem 1rem 0 1rem;
}

.pricing-card:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

/* #### 5.3 Pricing header #### */

.pricing-card-header {
  border-radius: 8px 8px 0 0;
  background-color: white;
  padding: 0 1.25rem;
  margin-bottom: 0;
  min-height: 130px;
}

.pricing-card-title,
.pricing-card-price {
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
  color: #04143a;
  font-weight: bold;
}

.pricing-card-price {
  font-size: 2rem;
  color: #04143a;
}

.pricing-card-price strike {
  margin-right: 10px;
  font-size: 80%;
}

/* #### 5.4 Pricing card body ####*/

.pricing-card-body {
  padding: 0 1rem 0 1rem;
  flex: 1 0 auto;
}

.pricing-card-body ul {
  margin: 0.5rem 0;
  padding-left: 0;
  list-style: none;
}

.pricing-card button,
.pricing-card button.btn-outline {
  width: 100%;
  cursor: default;
}

.pricing-card-currency {
  font-size: 60%;
  min-width: 16px;
  display: inline-block;
}

.pricing-card-savings {
  color: #7da4ff;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (min-width: 576px) {
  .card-deck {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (min-width: 1200px) {
  .pricing-card-savings {
    font-size: 0.9rem;
  }
}

sup {
  font-weight: 400;
  font-size: 0.8rem;
}

#launch-offer {
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 0px;
  right: 6%;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.3rem 0.65rem 0.02rem;
  background: #ff486a;
}

#pricing-enterprise-select {
  padding: 0.3rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin: 0;
  font-weight: 700;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
}

#pricing-enterprise-select:hover {
  cursor: pointer;
}

#pricing-enterprise-select select:active,
#pricing-enterprise-select select:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  div[data-checkout-product="free"] {
    display: none;
  }
}

/* #### 5.5 Pricing features ####*/

.pricing-plan-features {
  min-height: 230px; /* can be removed to obtain squared pricings */
  text-align: left;
  display: block;
}

.pricing-plan-features li {
  display: flex;
  align-items: center;
  padding: 0 0 0.1rem 0;
  margin: 1px;
}

.pricing-plan-features li:before {
  content: "";
  min-width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/elements/tick-round.svg);
  background-repeat: no-repeat;
}

#pricing-plans .btn {
  text-transform: uppercase;
}

/* #### 5.6 Pricing modal #### */
.popover-header,
.popover-body {
  background: white;
  font-family: "DM Sans", sans-serif;
}

.popover-header {
  font-weight: 700;
}

#activeIndividualModal input:focus,
#activeIndividualModal input:active {
  outline: none !important;
}

#activeIndividualModal button:focus,
#activeIndividualModal button:active {
  outline: none !important;
}

.close {
  font-weight: 500;
}

.modal svg {
  fill: #b8bccc;
}

.modal .testimonials-logo {
  margin: 0.6rem;
  transform: scale(0.8);
}

/* ######## 6. INCLUDES ######## */

/* #### 6.1 Pricing table #### */

.pricing-table .pricing-card-header {
  min-height: 80px !important;
}

.pricing-table-features {
  min-height: 170px;
  text-align: left;
  list-style: none;
  margin: 1rem 0 1.5rem 0;
}

.pricing-table-features li {
  display: flex;
  align-items: center;
  margin: 5px;
}

.pricing-table-features li:before {
  content: "";
  min-width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/elements/tick-round.svg);
  background-repeat: no-repeat;
}

/* #### 6.2 Testimonials #### */

.testimonials-logo {
  margin: 1rem;
  max-width: 150px;
}

.testimonials svg {
  fill: #b8bccc;
}

.reviewcard {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  padding: 20px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.reviewcard:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .review-shifted {
    margin-top: 2rem !important;
  }
}

.review-quote {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #04143a;
}

.review-text {
  line-height: 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: #04143a;
}

.review-profile p {
  margin-bottom: 0 !important;
}

@media (max-width: 400px) {
  .review-stars {
    display: none;
  }
}

/* #### 6.3 FAQ #### */

.faq .card {
  border: none;
}

.faq .card-header {
  background-color: white;
  border-bottom: 1px solid rgba(16, 24, 32, 0.05);
}

.faq #accordion .card-header {
  background-color: white;
  border-bottom: 1px solid rgba(16, 24, 32, 0.05);
  padding: 0.55rem;
}

.faq .card-header .faq-expander {
  position: absolute;
  right: 30px;
  top: 5px;
}

.faq .card-header .faq-expander:after {
  content: "-";
  font-size: 1.2rem;
  color: #7da4ff;
}

.faq .card-header.collapsed .faq-expander:after {
  content: "+";
  font-size: 1.2rem;
  color: #7da4ff;
}

.faq .accordionpointer {
  cursor: pointer;
}

.faq #accordion {
  max-width: 960px;
  margin: auto;
}

.faq #accordion .card-header {
  font-weight: 700;
}

@media (max-width: 768px) {
  .faq .faq-expander {
    display: none;
  }
}

.faq strong {
  font-weight: bold;
}

/* #### 6.4 Footer #### */

.footer-svg {
  width: 100%;
  background-image: url(../img/background/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  font-size: 0.9rem;
  color: white;
  position: relative;
}

#logo-bottom {
  width: 150px;
  height: 10%;
  padding-top: 50px;
  padding-bottom: 10px;
}
body > footer > div > p {
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #ff486a;
  transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}

.footer p {
  margin: 0;
}

/* Footer display for Firefox */
@-moz-document url-prefix() {
  body > footer > div > p {
    margin-top: -0.3rem;
    color: white;
  }
  #logo-bottom {
    width: 135px;
    margin-bottom: 10px;
  }
}

/* ######## 7. Articles ######## */

article {
  padding: 2rem 0;
}

article h2 {
  font-size: 1.5rem;
}

article img :first-of-type {
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  padding: 0;
  height: auto;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

article img :first-of-type :hover,
.comparison-table:hover {
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

.comparison-table {
  margin: 2rem auto;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.table td {
  border-top: 1px solid #eee;
}

.table thead th {
  border-top: none;
  border-bottom: 2px solid #eee;
}

/* ######## 8. Support page ######## */

/* #### 8.1 Page support search #### */

.page-support-search {
  padding: 2rem 0 0 0;
}

.page-support-search form {
  margin-bottom: 1rem;
  padding: 1rem 0 0 0;
}

#support-searchbar {
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: 17px;
  background-image: url(../img/elements/search.svg);
}

.page-support-search .form-inline {
  justify-content: center;
}

.page-support-search .form-control {
  width: 100%;
  max-width: 500px;
  margin: 0 1rem;
  padding: 0.375rem 3rem;
  border-radius: 25px;
  height: 50px;
  border: 2px solid #7da4ff78;
  box-shadow: 3px 5px 20px 0 rgb(0 0 0 / 5%);
}

.page-support form .btn-filled {
  margin-left: 0.5rem;
  padding: 0.375rem 0.75rem;
}

/* #### 8.2 Page support featured #### */

.page-support-featured {
  position: relative;
}

.page-support-featured-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
}

.page-support-featured-sections div {
  min-height: 200px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  margin: 20px;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 22px 0 rgba(0, 0, 0, 0.09);
  transition: all 0.2s ease-in-out;
}

.page-support-featured-sections div:hover {
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
}

.page-support-featured-sections img {
  border-style: none;
  max-width: 100px;
  display: block;
  margin: auto;
}

.page-support-featured-sections h2 {
  font-size: 1.2rem;
  padding: 0 1rem;
}

.page-support-featured-sections p {
  color: black;
  padding: 1rem;
}

/* #### 8.3 Page support popular articles #### */

.page-support-articles h2 {
  text-align: center;
}

.page-support-articles ul {
  list-style: none;
  margin: 2rem 1rem;
  padding: 0;
}

@media (max-width: 576px) {
  .page-support-featured-sections {
    padding-bottom: 6rem;
  }
  .page-support-articles ul {
    margin-left: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 960px) {
  .page-support-articles ul {
    columns: 2;
  }
}

@media (min-width: 960px) {
  .page-support-articles ul {
    columns: 3;
  }
}

.page-support-articles li:before {
  content: " ";
  background-image: url(../img/elements/articles.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.page-support-articles li {
  margin-bottom: 1rem;
}

.page-support-articles li a {
  color: inherit;
  margin-left: 2px;
}

.page-support-articles li a:hover {
  text-decoration: underline;
}

#support-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/background/support.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* ######## 9. Features pages ######## */

.features-sections {
  margin: 5rem 0;
}

.features-sections img {
  max-height: 300px;
  margin: auto !important;
  display: block;
}

.features-sections:nth-of-type(2n) div:nth-child(2) {
  order: 1;
}

.features-sections:nth-of-type(2n) div:nth-child(1) {
  order: 2;
}

@media screen and (max-width: 1000px) {
  .features-sections div:first-of-type {
    order: 2;
  }
  .features-sections img {
    margin: 0 !important;
  }
}

.features-card {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
}

.features-card:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}
.features-excerpt {
  color: #7da4ff;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.features-card img {
  padding: 2rem;
}

.features-card h3 {
  font-size: 1.2rem;
}

.features-link {
  position: relative;
}

.features-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0.15rem;
  right: 0;
  background: #7da4ff;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.features-link:hover:after {
  width: 100%;
  left: 0;
  background: #7da4ff;
}

/* ######## 10. Animations ######## */

/* Success and fail UIs */

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 3px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* FadeIn */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ######## 11. Fonts ######## */

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins-v5-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("../fonts/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-600italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("../fonts/poppins-v5-latin-600italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-600italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-600italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-600italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-600italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-700italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("../fonts/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-700italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v5-latin-800.eot"); /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../fonts/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-800.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-800italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins-v5-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
    url("../fonts/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-800italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-800italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-800italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-800italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v1-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Regular"), local("DMSans-Regular"),
    url("../fonts/dm-sans-v1-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/dm-sans-v1-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Italic"), local("DMSans-Italic"),
    url("../fonts/dm-sans-v1-latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-italic.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v1-latin-500.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Medium"), local("DMSans-Medium"),
    url("../fonts/dm-sans-v1-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-500.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-500italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/dm-sans-v1-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Medium Italic"), local("DMSans-MediumItalic"),
    url("../fonts/dm-sans-v1-latin-500italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-500italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-500italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-500italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-500italic.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v1-latin-700.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Bold"), local("DMSans-Bold"),
    url("../fonts/dm-sans-v1-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-700.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-700italic - latin */

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/dm-sans-v1-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Bold Italic"), local("DMSans-BoldItalic"),
    url("../fonts/dm-sans-v1-latin-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-700italic.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
