

/* ----global---- */

html, body {
	font-family: 'Karla', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 16px 48px rgba(32,41,50,0.12);
}

h1 {
	font-size:2em;
	font-weight: 700;
	color: #04143A;
	line-height: 46px;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	color: #434343;
	margin-top: 0;
}

button {
	font-size: 100%;
	padding: 1em;
	margin: 1em 0 1em 0;
}

section {
	margin-top: 6em;
	margin-bottom:4em;
}

#logo {
	width:150px;
}

/* ----buttons---- */


.btnOutline {
	display:block;
	text-decoration:none;
	text-align:center;
	color:#FF486A;
	border: 2px solid;
	border-radius:6px;
	border-color:#FF486A;
	background-color: white;
	outline:none;
	transition: all 0.400s cubic-bezier(0, 0, 0.2, 1);
}

.btnFilled {
	display:block;
	text-decoration:none;
	text-align:center;
	color:white;
	font-weight:bolder;
	border: 2px solid;
	border-radius:6px;
	background-color: #FF486A;
	outline:none;
	transition: all 0.400s cubic-bezier(0, 0, 0.2, 1);
}

.btnFilled:active, .btnFilled:focus, .btnOutline:active, .btnOutline:focus {
	outline:none;
}


/*---styling dark backgrounds---*/

h1.darkbg {
	color:#FF486A;
}

h2.darkbg {
	color:white;
}

/* ---nav---- */


		/*navbar styling*/

.navbar-nav .nav-link {
  padding-right: 0;
	text-align: center;
}

.nav-link {
	transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link:hover{
	color:#FF486A !important;

}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
		outline: none;
}

@media (max-width: 768px) {

	body {
		background-image: url();
	}

	.navbar-light .navbar-nav .nav-link {
    color: #04143A;
	}

	.top-svg{
		display:none;
	}

}

@media (min-width: 768px) {

	.bg-light {
	    background-color: transparent!important;
	}

	.navbar-light .navbar-nav .nav-link {
    color: white;
		padding-right: .8em;
    padding-left: .8em;
	}
}


		/*navbar animation*/

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


/* ----hero---- */

.hero {
	position:relative;
}

section.hero {
	margin-top:2.5em;
}

#demoproduct {
	height: 400px;
	box-shadow: 0 16px 48px rgba(32,41,50,0.12);
}

.top-svg{
	width:100%;
	height: 500px;
	position:absolute;
	background-image: url(../img/home_top_right.svg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size:55%;
	top:-140px;
	z-index: -1;
	animation: slidein 0.8s ease-out;
}

@keyframes slidein {
  from {
    top: -170px;
    opacity: .8;
  }

  to {
    top:-140px;
    opacity:1;
  }
}

.hero .btnFilled:hover {
 -webkit-box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2);
 box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2);
 cursor: pointer;
}

/* ----tutorial---- */

.card-text {
	color:#434343;
}

.tutorial {
	position:relative;
}

.tutorial-svg {
	width:100%;
	height: 200%;
	top:-350px;
	position:absolute;
	background-image: url(../img/home_tutorial.svg);
	background-repeat: no-repeat;
	z-index: -1;

}

@media (max-width: 1330px) {

	.tutorial-svg {
		top:-235px;
	}
}

.card-body#steps1:before {
	content: '';
	width: 100%;
	height: 80px;
	top: 250px;
	left: 111px;
	position: absolute;
	margin-right: 12px;
	display: inline-block;
	background-image: url(../img/element_number1.svg);
	background-repeat: no-repeat;
}

.card-body#steps2:before {
	content: '';
	width: 100%;
	height: 80px;
	top: 250px;
	left: 111px;
	position: absolute;
	margin-right: 12px;
	display: inline-block;
	background-image: url(../img/element_number2.svg);
	background-repeat: no-repeat;
}

.card-body#steps3:before {
	content: '';
	width: 100%;
	height: 80px;
	top: 250px;
	left: 111px;
	position: absolute;
	margin-right: 12px;
	display: inline-block;
	background-image: url(../img/element_number3.svg);
	background-repeat: no-repeat;
}

.card-body>p{
	text-align:center;
}

/* ----features---- */

.card {
	border:none;
}

.card-img-top {
	background-color: w;
	width: 300px;
	height: 300px;
	border-radius: 4px;
	box-shadow: 0 16px 48px rgba(32,41,50,0.12);

}

.featureitem {
	background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
	position:relative;
	display:inline-block;
	padding: 20px 20px 20px 100px;
	border: 1px solid #eee;
	border-radius:5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.featureitem:hover {
	background-color: white;
 -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);

}

.featureitem .tab_icon {
	position:absolute;
  left: 30px;
  top: 30px;
	max-width: 50px;
}

.featureitem .heading {
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-weight: 600;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.featureitem .summary {
  font-size: 15px;
  line-height: 25px;
  color: #555555;
}

.features_tab_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.features {
	margin-bottom:15em;
}


/* ----install---- */

.install {
	text-align: center;
	margin-top:10em;
	position:relative;
}

.install > .container > button {
	margin:1em auto;
}

.install-svg{
	width: 100%;
	height: 500%;
	top: -310px;
	position: absolute;
	background-image: url(../img/home_install.svg);
	background-repeat: no-repeat;
	z-index: -1;
}

.install .btnFilled:hover {
	-webkit-box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2);
  box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2);
  cursor: pointer;
}

/* ----pricing---- */

.pricing {
	margin-top:10em;
}

.pricingcard {
	background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01)l;
	padding-left:20px;
	padding-right:20px;
	border: 1px solid #eee;
	border-radius:5px;
	height:105%;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.pricingcard:hover {
	background-color: white;
 -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);

}

.pricingfeatures {
	min-height:100px;
	text-align:left;
	min-height: 150px;
}

.pricingfeatures li {
	display: flex;
	align-items: center;
}

.pricingfeatures li:before {
	content: '';
	min-width: 20px;
  height: 12px;
	margin-right: 12px;
	display: inline-block;
	background-image: url(../img/element_tick.svg);
	background-repeat: no-repeat;
}

.pricingcard button {
	 width: 100%;
	 cursor: pointer;
}

.pricing-highlight {
	font-weight:bold;
	color:#FF486A;
}

.card-header{
	min-height:20%;
}


/* ----faq---- */

.card-header {
	background-color: white;
}

.card-header .faqexpander {
	position:absolute;
	right: 30px;
	top: 5px;


}

.card-header .faqexpander:after{
	content:'-';
	font-size:1.5em;
	color:#6c757d;
}

.card-header.collapsed .faqexpander:after {
	content:'+';
	font-size:1.5em;
	color:#6c757d;
}

.accordionpointer {
	cursor:pointer;
}

.btnfaq {

}

section.faq {
	margin-bottom:8em;
}


/* ----footer---- */

.footer-svg{
	width: 100%;
	height: 200%;
	top: -85px;
	position: absolute;
	background-image: url(../img/footer.svg);
	background-repeat: no-repeat;
	z-index: -1;
}

.footer {
	font-size:.8em;
	color:lightgrey;
	position:relative;
}
