/* ----global---- */

* {
	-webkit-font-smoothing: antialiased;
}

html, body {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 16px 48px rgba(32,41,50,0.12);
}


section {
	margin-top: 6em;
	margin-bottom:4em;
}

.highlight {
	color:#FF486A;
}

/* logo */

#logo {
	width:150px;
}

/* SEO strong emphasis*/

.heading strong {
	font-weight: 600;
}

h3 strong, p strong {
	font-weight:normal;
}

/* Headings */

h1 {
	font-size:2em;
	font-weight: 700;
	color: #04143A;
}

h2 {
	font-size:2em;
	font-weight: 700;
	color: #04143A;
}

h3 {
	font-size:1em;
	letter-spacing: 0.01em;
	color: #434343;
}

/*--- headings styling for dark background---*/

h1.dark-bg, h2.dark-bg {
	color:#FF486A;
}

h3.dark-bg, p.dark-bg {
	color:white;
}

#tagline {
	box-shadow: inset 0 -14px 0 0 #ff486ab5;
}
/* ----buttons---- */

button, .btn {
	font-size: 100%;
	padding: 1em;
	margin: 1em 0 1em 0;
	letter-spacing: 0.05em;
	transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

button:hover, .btn:hover {
	cursor:pointer;
}

.btn-outline {
	display:block;
	text-decoration:none;
	text-align:center;
	color:#FF486A;
	border: 2px solid;
	border-radius:6px;
	border-color:#FF486A;
	background-color: white;
	outline:none;
	cursor:pointer;
}

.btn-filled {
	display:block;
	text-decoration:none;
	text-align:center;
	color:white;
	font-weight:bolder;
	border: 2px solid;
	border-radius:6px;
	background-color: #FF486A;
	outline:none;
	cursor:pointer;
}

.btn-inline { display:inline-block !important; }


.btn-filled:hover {
 /* -webkit-box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2); */
 /* box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2); */
 transform: scale(1.014);
}

.btn-filled:active,
.btn-filled:focus,
.btn-outline:active,
.btn-outline:focus,
.btn-install:active,
.btn-install:focus {
	outline:none;
}

.btn-install:hover {
	color: #FFF;
	border-color: #FFF;
	transform: scale(1.014);
}

.btn-outline:hover {
	color:#FF486A;
	border-color:#FF486A;
	transform: scale(1.014);
}

/* ---nav---- */


		/*navbar styling*/

.navbar-nav .nav-link {
  padding-right: 0;
	text-align: center;
}

.nav-link {
	transition: all 0.100s cubic-bezier(0, 0, 0.2, 1);
	letter-spacing: 0.04em;
}

.navbar-light .navbar-nav .nav-link {
		color:#1b1240;
		font-weight: 600;
		font-size:0.9em;
}

.nav-link:hover{
	color:#FF486A !important;

}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
		outline: none;
}

#navbarTabs > ul > li:nth-child(4) > a {
	margin:auto;
	padding:0.4em 0.6em 0.4em 0.6em;
}

.navbar-shadow {
	box-shadow: -2px -4px 20px 0px rgba(32,41,50,0.12);
}

@media (max-width: 768px) {

	body {
		background-image: url();
	}

	.top-svg{
		display:none;
	}

}

@media (min-width: 768px) {

	.bg-light {
		background-color: white!important;
	}

	.navbar-light .navbar-nav .nav-link {
    color:#333;
		padding-right: .8em;
    padding-left: .8em;
	}
}

	/* navbar toggler  */

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

	/*navbar toggler*/

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


/* ----HERO---- */


section.hero {
	margin-top:4.5em;
}

.hero {
	position:relative;
}

/* .top-svg{
	width:100%;
	height: 465px;
	position:absolute;
	background-image: url(../img/home_top_right.svg);
	background-repeat: no-repeat;
	background-position: top right;
	top:-265px;
	z-index: -1;
	animation: slidein 0.9s ease-out;
} */
/*
@keyframes slidein {
  from {
    top: -300px;
    opacity: .8;
  }

  to {
    top:-265px;
    opacity:1;
  }
}
 */

/* ----features---- */

section.features {
	margin-top:4em;
	margin-bottom:10em;
}

.features-svg {
	width: 100%;
	height: 200%;
    top: -235px;
	position:absolute;
	background-image: url(../img/home_features.svg);
	background-repeat: no-repeat;
	background-size:cover;
	z-index: -1;

}

@media (max-width: 1330px) {

	.featureitem{
		margin:0;
		width:100%;
	}
}

.featureitem {
	width:100%;
	height: auto;
	position:relative;
	padding: 20px 20px 20px 100px;
}

.featureitem .tab_icon {
	position:absolute;
  left: 30px;
  top: 30px;
	max-width: 35px;
}

.featureitem .heading {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #FF486A;
  font-weight: 600;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.featureitem .summary {
  font-size: 1em;
  line-height: 1.5em;
  color: white;
}


@media (max-width: 400px) {
	section.features {
		margin-bottom:12em;
	}
}

@media (max-width: 1000px) {
	.features-svg {
		height:180%;
	}
}

@media (max-width: 480px) {
	.features-svg {
		height:160%;
	}
}

@media (min-width: 1440px) {
	.features-svg {
		height:220%;
	}
	section.features {
		margin-bottom:12em;
	}
}

/* Remove black bars on Youtube video */
.video-wrapper {
	position:relative;
	padding-bottom:56.25%; /* aspect ration for 16:9 */
	/*padding-top: 20px;*/ /* you can add padding-top if needed */
	height:0;
	overflow:hidden;
}

.video-wrapper iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media (max-width:575px) {
	.video-wrapper {
		margin-left: 0.5em;
    margin-right: 0.5em;
	}
}

@media (min-width: 992px) {
	.video-wrapper iframe {
		height:70%;
	}

	section.features {
		margin-top:-10em;
	}
}

/* ----tutorial---- */

section.tutorial img {
	width:100%;
	height:100%;
	border: 1px solid #eee;
	border-radius: 5px;
}

.tutorial {
	margin-bottom:20em;
}

.tutorial button {
	margin: 1em auto;
}

.card-text {
	color:#434343;
}

#steps1:before {
	content: '';
	height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/element_number1.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

#steps2:before {
	content: '';
	height: 100%;
	top: -5px;
	left: 50%;
	position: absolute;
	display: inline-block;
	background-image: url(../img/element_number2.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	margin-left: -20px;
	width: 40px;
}

#steps3:before {
	content: '';
	height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/element_number3.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

.card-body>p{
	text-align:center;
}


.tutorialcard {
	background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01)l;
	padding:20px;
	width: 100%;
	min-height:100%;
	border: 1px solid #eee;
	border-radius:5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.tutorialcard:hover {
	background-color: white;
 	-webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}


/* ----install---- */

.install {
	text-align: center;
	margin-top:10em;
	position:relative;
}

.install > .container > button {
	margin:1em auto;
}

.install-svg{
	width: 100%;
	height: 440%;
	top: -340px;
	position: absolute;
	background-image: url(../img/home_install.svg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

/* ----pricing---- */

section.pricing {
	margin-top:12em;
	z-index: -2;
}

	/*Pricing card*/

.pricingcard {
	background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01)l;
	padding-left:20px;
	padding-right:20px;
	border: 1px solid #eee;
	border-radius:5px;
	height:105%;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.pricingcard:hover {
	background-color: white;
 	-webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
	transform: scale(1.014);
}

	/*Pricing content*/

.pricing .card-body {
	padding:0.2em;
}

.pricing .card-header {
	padding: .95rem .75rem 0em;
	min-height: 22%;
}

.pricingfeatures {
	min-height:90px;
	text-align:left;
}

.pricingfeatures li {
	display: flex;
	align-items: center;
}

.pricingfeatures li:before {
	content: '';
	min-width: 20px;
  height: 12px;
	margin-right: 4px;
	display: inline-block;
	background-image: url(../img/element_tick.svg);
	background-repeat: no-repeat;
}

.pricingcard button {
	 width: 100%;
}

.pricingcard button.btn-outline {
	 width: 100%;
	 cursor: default;
}

.pricing-highlight {
	font-weight:bold;
	color:#FF486A;
}

.pricing-subheader {
	font-size:0.9em;
}

@media (min-width: 576px){
.card-deck {
	margin-left:0px !important;
	margin-right:0px !important;
	}
}

sup {
	font-weight: normal;
	font-size: 0.5em;
}

/* ----faq---- */


.faq {
	margin-bottom:8em;
}

.card {
	border:none;
}

.card-header {
	background-color: white;
}

.card-header .faqexpander {
	position:absolute;
	right: 30px;
	top: 5px;
}

.card-header .faqexpander:after{
	content:'-';
	font-size:1.5em;
	color:#6c757d;
}

.card-header.collapsed .faqexpander:after {
	content:'+';
	font-size:1.5em;
	color:#6c757d;
}

.accordionpointer {
	cursor:pointer;
}

#accordion .card-header {
	font-weight:bold;
}

@media (max-width: 768px) {
	.faqexpander{
		display:none;
	}
}




/* ----footer---- */

.footer-svg{
	width: 100%;
  height: 360px;
	top: -80px;
	position: absolute;
	background-image: url(../img/footer.svg);
	background-repeat: no-repeat;
	background-size:cover;
	z-index: -1;
}

.footer {
	font-size:.85em;
	color:lightgrey;
	position:relative;
}

#logo-bottom {
	width: 150px;
	height: 10%;
	padding-top:50px;
	padding-bottom:10px;
}
body > footer > div > p {
	color:white;
}

.footer a {
	text-decoration:none;
	color:white;
}

.footer a:hover {
	color:#FF486A;
	transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
	cursor:pointer;
}


/* Footer display for Firefox */
@-moz-document url-prefix() {
	body > footer > div > p {
		margin-top: -0.3em;
		color:white;
	}
	#logo-bottom {
		width: 135px;
		margin-bottom: 10px;
	}
}

/* Privacy page */

section.privacy {
 	margin-bottom: 10em;
	margin-top:4.5em;
}

/* .privacy {
	position:relative;
} */

.privacy h1,
.privacy h2,
.privacy h3,
.privacy h4,
.privacy h5,
.privacy h6 {
	font-weight: bold !important;
}

/* Big display > 1440px */

@media (min-width: 1440px) {

	html {
		font-size: 90%;
		zoom: 110%;
	}

	section.tutorial img {
		width: 70%;
	}

	.crisp-client {
		zoom:80%;
	}
}

/* Prevent horizontal scroll on Firefox */

/*@-moz-document url-prefix() {
	body {
		overflow: hidden;
	}
}*/
