/* ----global---- */

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16.5px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 10em;
  box-shadow: 20px 0 20px -20px rgba(32, 41, 50, 0.12), -20px 0 20px -20px rgba(32, 41, 50, 0.12);
  -moz-box-shadow: 20px 0 20px -20px rgba(32, 41, 50, 0.12), -20px 0 20px -20px rgba(32, 41, 50, 0.12);
  -webkit-box-shadow: 20px 0 20px -20px rgba(32, 41, 50, 0.12), -20px 0 20px -20px rgba(32, 41, 50, 0.12);
}

body,
p,
span,
h3,
h4,
h5,
h6,
a:not(.btn),
table,
li {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
a {
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

nav {
  min-height: 75px;
}

/* Headings */

h1 {
  font-size: 2.2em;
  font-weight: 700;
  color: #04143a;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: #04143a;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.01em;
}

h1.dark-bg,
h2.dark-bg,
h3.dark-bg,
p.dark-bg {
  color: white;
}

/* SEO emphasis with strong*/

.heading strong {
  font-weight: 700;
}

strong {
  font-weight: 400;
}

/*generic elements*/

.highlight {
  font-weight: 700;
}

#logo {
  width: 150px;
}

/* ----buttons---- */

button,
.btn {
  font-size: 100%;
  padding: 1em;
  margin: 1em 0 1em 0;
  letter-spacing: 0.05em;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

button:hover,
.btn:hover {
  cursor: pointer;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.btn-outline {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ff486a;
  border: 2px solid;
  border-radius: 6px;
  border-color: #ff486a;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.btn-filled {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  background-color: #ff486a;
  outline: none;
  cursor: pointer;
}

.btn-inline {
  display: inline-block !important;
}

.btn-filled:hover {
  color: #fff;
  transform: scale(1.014);
}

.btn-outline:hover {
  color: #ff486a;
  transform: scale(1.014);
}

/* ---nav---- */

.navbar-nav .nav-link {
  padding-right: 0;
  text-align: center;
}

.nav-link {
  transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
  letter-spacing: 0.04em;
  font-family: "Poppins", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  color: #04143a;
  font-weight: 700;
  font-size: 0.9em;
}

.nav-link:hover {
  color: #ff486a !important;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-shadow {
  box-shadow: -2px -4px 20px 0px rgba(32, 41, 50, 0.12);
}

.bg-light {
  background-color: #ffffff !important;
}

@media (max-width: 240px) {
  body {
    padding-top: 160px;
  }
}

@media (max-width: 768px) {
  .top-svg {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link {
    color: #333;
    padding-right: 0.8em;
    padding-left: 0.8em;
  }
}

/* navbar toggler  */

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

/*navbar toggler*/

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*SECTIONS*/

section {
  margin-bottom: 4em;
}

/* --- Hero section --- */

section.hero video {
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.1) l;
}

/* --- Features section --- */

section.features {
  margin-top: 4em;
  margin-bottom: 10em;
}

.features-svg {
  width: 100%;
  height: 215%;
  top: -240px;
  position: absolute;
  background-image: url(../img/background/home_features.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 576px) {
  section.features {
    margin-bottom: 15em;
  }
  .features-svg {
    height: 160%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .features-svg {
    height: 165%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .features-svg {
    height: 170%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .features-svg {
    height: 175%;
    top: -200px;
  }
}

@media (min-width: 1440px) {
  .features-svg {
    height: 230%;
  }
}

/*features list*/

@media (max-width: 1330px) {
  .featureitem {
    margin: 0;
    width: 100%;
  }
}

.featureitem {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px 20px 20px 100px;
}

.featureitem .tab_icon {
  position: absolute;
  left: 30px;
  top: 30px;
  max-width: 35px;
}

.featureitem .heading {
  font-size: 1.1em;
  line-height: 1.5em;
  /* color: #ff486a; */
  color: #ffffff;
  font-weight: 700;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.featureitem .summary {
  font-size: 1em;
  line-height: 1.5em;
  color: white;
}

#Gsuite_verified {
  width: 220px;
}

/* Youtube video - Remove black bars on Youtube video */

.yt-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.yt-video-wrapper iframe,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrap {
  width: 100%;
  max-height: 500px; /* And set the max-width of the parent element */
}

@media (max-width: 575px) {
  .video-wrapper {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media (min-width: 992px) {
  section.features {
    margin-top: -10em;
  }
}

/* ----Tutorial section---- */

.tutorial button {
  margin: 1em auto;
}

.card-text {
  color: #434343;
}

#steps1:before {
  content: "";
  height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/elements/number1.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

#steps2:before {
  content: "";
  height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/elements/number2.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

#steps3:before {
  content: "";
  height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/elements/number3.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

.card-body > p {
  text-align: center;
}

.card-body > a {
  white-space: normal;
}

.card-body {
  padding: 1em;
}

.tutorialcard {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
  padding: 10px;
  width: 100%;
  min-height: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.tutorialcard:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

.tutorialcard h2 {
  font-size: 1.3em;
}

/* ----Install section---- */

.install {
  text-align: center;
  margin-top: 10em;
  position: relative;
}

.install > .container > button {
  margin: 1em auto;
}

.install-svg {
  width: 100%;
  height: 440%;
  top: -340px;
  position: absolute;
  background-image: url(../img/background/home_install.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* ----Pricing section---- */

#summer-sales-banner {
  background: #ff486a;
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 0.5em;
}

.pricing-header,
.comparison-header {
  padding: 0.3em;
  max-width: 700px; /* applies both on home and pricing page */
}

/* Pricing toggle */

#pricing-plans .btn-group-toggle-recurrence .btn {
  padding: 0.5em;
  font-size: 0.8em;
  margin-top: 0em;
}

#pricing-plans .btn-group-toggle-recurrence .btn {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #ff486a;
  border: 2px solid;
  border-color: #ff486a;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 0.25rem 1rem;
}

#pricing-plans .btn-group-toggle-recurrence .btn.active {
  color: white;
  background-color: #ff486a;
}

/*Pricing card*/

.pricingcard {
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.pricingcard-price strike {
  margin-right: 10px;
  font-size: 80%;
}

.pricingcard:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

/* Pricing header */

.pricing-card-header {
  border-radius: 8px 8px 0 0;
  background-color: white;
  padding: 0.75rem 1.25rem 0 1.25rem;
  margin-bottom: 0;
  min-height: 130px;
}

/*Pricing content*/

.pricing-card-body {
  padding: 0 1em 0 1em;
}

.pricing h5 {
  color: #04143a;
}

.pricing-home-features {
  min-height: 170px;
  text-align: left;
}

.pricing-home-features li {
  display: flex;
  align-items: center;
  margin: 5px;
}

.pricing-home-features li:before {
  content: "";
  min-width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/elements/tick-round.svg);
  background-repeat: no-repeat;
}

.pricingcard button,
.pricingcard button.btn-outline {
  width: 100%;
  cursor: default;
}

.pricingcard-title {
  font-size: 1em;
}

.pricingcard-currency {
  font-size: 60%;
  min-width: 16px;
  display: inline-block;
}

.pricing-card-savings {
  color: #7da4ff;
  font-size: 0.8em;
}

@media (min-width: 576px) {
  .card-deck {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (min-width: 1200px) {
  .pricing-card-savings {
    font-size: 0.9em;
  }
}

sup {
  font-weight: 400;
  font-size: 0.55em;
}

#launch-offer {
  font-size: 0.7em;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 0px;
  right: 6%;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.3em 0.65em 0.02em;
  background: #ff486a;
}

#pricing-enterprise-select {
  padding: 0.3em;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin: 0;
  font-weight: 700;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
}

#pricing-enterprise-select:hover {
  cursor: pointer;
}

#pricing-enterprise-select select:active,
#pricing-enterprise-select select:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  div[data-checkout-product="free"] {
    display: none;
  }
}

/*---Testimonials---*/

.testimonials-logo {
  margin: 1em;
  max-width: 150px;
}

.reviewcard {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  padding: 20px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.reviewcard:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .review-shifted {
    margin-top: 2em !important;
  }
}

.review-quote {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: #04143a;
}

.review-text {
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 500;
  color: #04143a;
}

.review-profile p {
  margin-bottom: 0 !important;
}

@media (max-width: 400px) {
  .review-stars {
    display: none;
  }
}

/* ---Faq section--- */

.card {
  border: none;
}

.card-header {
  background-color: white;
  border-bottom: 1px solid rgba(16, 24, 32, 0.05);
}

/* End general styling card */

#accordion .card-header {
  background-color: white;
  border-bottom: 1px solid rgba(16, 24, 32, 0.05);
  padding: 0.55em;
}

.card-header .faqexpander {
  position: absolute;
  right: 30px;
  top: 5px;
}

.card-header .faqexpander:after {
  content: "-";
  font-size: 1.2em;
  color: #041432;
}

.card-header.collapsed .faqexpander:after {
  content: "+";
  font-size: 1.2em;
  color: #041432;
}

.accordionpointer {
  cursor: pointer;
}

#accordion {
  max-width: 960px;
  margin: auto;
}

#accordion .card-header {
  font-weight: 700;
}

@media (max-width: 768px) {
  .faqexpander {
    display: none;
  }
}

/* ----Footer---- */

.footer-svg {
  width: 100%;
  position: absolute;
  background-image: url(../img/background/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  font-size: 0.9em;
  color: white;
  position: relative;
}

#logo-bottom {
  width: 150px;
  height: 10%;
  padding-top: 50px;
  padding-bottom: 10px;
}
body > footer > div > p {
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #ff486a;
  transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}

.footer p {
  margin: 0;
}

/* Footer display for Firefox */
@-moz-document url-prefix() {
  body > footer > div > p {
    margin-top: -0.3em;
    color: white;
  }
  #logo-bottom {
    width: 135px;
    margin-bottom: 10px;
  }
}

/* Sub pages */

.header-centered {
  margin: auto;
  text-align: center;
  font-weight: 700;
}

.subheader-centered {
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.article img {
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  padding: 0;
  height: auto;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.comparison-table {
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01) l;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.article img:hover,
.comparison-table:hover {
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

.table th {
  border-top: none;
}

/* Legal pages */

section.legal {
  padding-top: 2em;
}

.legal h2 {
  font-size: 1em;
}

/* Pricing page */

/*Pricing content*/

.pricing-plan-features {
  min-height: 230px; /* can be removed to obtain squared pricings */
  text-align: left;
  display: block;
}

.pricing-plan-features li {
  display: flex;
  align-items: center;
  padding: 0 0 0.1em 0;
  margin: 2px;
  line-height: 1.6;
}

.pricing-plan-features li:before {
  content: "";
  min-width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(../img/elements/tick-round.svg);
  background-repeat: no-repeat;
}

#pricing-plans {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, #fff, #f5f6fa3b);
  z-index: -2;
  margin-bottom: 0;
}

#pricing-plans .btn {
  text-transform: uppercase;
}

/* styling Popover */
.popover-header,
.popover-body {
  background: white;
  font-family: "DM Sans", sans-serif;
}

.popover-header {
  font-weight: 700;
}

/*Remove outline on input*/

#activeIndividualModal input:focus,
#activeIndividualModal input:active {
  outline: none !important;
}

#activeIndividualModal button:focus,
#activeIndividualModal button:active {
  outline: none !important;
}

.close {
  font-weight: 500;
}

/* Success and fail UIs */

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 3px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* Big display > 1440px */

@media (min-width: 1600px) {
  html {
    zoom: 103%;
  }
}

@media (min-width: 1920px) {
  html {
    zoom: 105%;
  }
}

/* Disable CSS transition on page load */

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* LANDING PAGES */

/* Education LP */

.block-with-quote {
  font-size: 20px;
  font-weight: 700;
}

/* ANIMATIONS */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* FONTS */

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins-v5-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("../fonts/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-600italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("../fonts/poppins-v5-latin-600italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-600italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-600italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-600italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-600italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-700italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins-v5-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("../fonts/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-700italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v5-latin-800.eot"); /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../fonts/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-800.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* poppins-800italic - latin */
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins-v5-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
    url("../fonts/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v5-latin-800italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v5-latin-800italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v5-latin-800italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v5-latin-800italic.svg#Poppins") format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v1-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Regular"), local("DMSans-Regular"),
    url("../fonts/dm-sans-v1-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/dm-sans-v1-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Italic"), local("DMSans-Italic"),
    url("../fonts/dm-sans-v1-latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-italic.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v1-latin-500.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Medium"), local("DMSans-Medium"),
    url("../fonts/dm-sans-v1-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-500.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-500italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/dm-sans-v1-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Medium Italic"), local("DMSans-MediumItalic"),
    url("../fonts/dm-sans-v1-latin-500italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-500italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-500italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-500italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-500italic.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v1-latin-700.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Bold"), local("DMSans-Bold"),
    url("../fonts/dm-sans-v1-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-700.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
/* dm-sans-700italic - latin */
@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/dm-sans-v1-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("DM Sans Bold Italic"), local("DMSans-BoldItalic"),
    url("../fonts/dm-sans-v1-latin-700italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v1-latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v1-latin-700italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v1-latin-700italic.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v1-latin-700italic.svg#DMSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
