/* ----global---- */

html, body {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 16px 48px rgba(32,41,50,0.12);
}


section {
	margin-top: 6em;
	margin-bottom:4em;
}

.highlight {
	color:#FF486A;
}

/* logo */

#logo {
	width:150px;
}

/* Headings */

h1 {
	font-size:2em;
	font-weight: 700;
	color: #04143A;
}

h2 {
	font-size:1.15em;
	letter-spacing: 0.01em;
	color: #434343;
}

h3 {
	font-size:1em;
	letter-spacing: 0.01em;
	color: #434343;
}



/*---for dark blue background---*/

h1.dark-bg {
	color:#FF486A;
}

h2.dark-bg, p.dark-bg {
	color:white;
}

#tagline {
	box-shadow: inset 0 -14px 0 0 #ff486ab5;
}
/* ----buttons---- */

button, .btn {
	font-size: 100%;
	padding: 1em;
	margin: 1em 0 1em 0;
}


.btn-outline {
	display:block;
	text-decoration:none;
	text-align:center;
	color:#FF486A;
	border: 2px solid;
	border-radius:6px;
	border-color:#FF486A;
	background-color: white;
	outline:none;
	transition: all 0.400s cubic-bezier(0, 0, 0.2, 1);
	cursor:pointer;
}

.btn-filled {
	display:block;
	text-decoration:none;
	text-align:center;
	color:white;
	font-weight:bolder;
	border: 2px solid;
	border-radius:6px;
	background-color: #FF486A;
	outline:none;
	transition: all 0.400s cubic-bezier(0, 0, 0.2, 1);
	cursor:pointer;
}

.btn-filled:hover {
 -webkit-box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2);
 box-shadow: 0px 8px 26px 2px rgba(255, 72, 106, 0.2);
 transform: scale(1.014);
}

.btn-filled:active,
.btn-filled:focus,
.btn-outline:active,
.btn-outline:focus {
	outline:none;
}

.btn-install:hover {
	color: #FFF;
	border-color: #FFF;
}

.btn-inline { display:inline-block !important; }



/* ---nav---- */


		/*navbar styling*/

.navbar-nav .nav-link {
  padding-right: 0;
	text-align: center;
}

.nav-link {
	transition: all 0.100s cubic-bezier(0, 0, 0.2, 1);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link:hover{
	color:#FF486A !important;

}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
		outline: none;
}

@media (max-width: 768px) {

	body {
		background-image: url();
	}

	.navbar-light .navbar-nav .nav-link {
    color: #04143A;
	}

	.top-svg{
		display:none;
	}

}

@media (min-width: 768px) {

	.bg-light {
	    background-color: transparent!important;
	}

	.navbar-light .navbar-nav .nav-link {
    color: white;
		padding-right: .8em;
    padding-left: .8em;
	}
}


		/*navbar animation*/

		/* navbar toggler  */

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

	/*navbar toggler*/

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


/* ----HERO---- */


section.hero {
	margin-top:2.5em;
}

.hero {
	position:relative;
}

.top-svg{
	width:100%;
	height: 420px;
	position:absolute;
	background-image: url(../img/home_top_right.svg);
	background-repeat: no-repeat;
	background-position: top right;
	top:-265px;
	z-index: -1;
	animation: slidein 0.9s ease-out;
}

@keyframes slidein {
  from {
    top: -300px;
    opacity: .8;
  }

  to {
    top:-265px;
    opacity:1;
  }
}


/* ----features---- */

section.features {
	margin-bottom:10em;
}

.features-svg {
	width: 100%;
	height: 185%;
	top: -200px;
	position:absolute;
	background-image: url(../img/home_features.svg);
	background-repeat: no-repeat;
	background-size:cover;
	z-index: -1;

}

@media (max-width: 1330px) {

	.featureitem{
		margin:0;
		width:100%;
	}
}




/* .featureitem {
	background-color: white;
 -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);

} */

.featureitem {
	width:100%;
	height: auto;
	position:relative;
	padding: 20px 20px 20px 100px;
}

.featureitem .tab_icon {
	position:absolute;
  left: 30px;
  top: 30px;
	max-width: 35px;
}

.featureitem .heading {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #FF486A;
  font-weight: 600;
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.featureitem .summary {
  font-size: 1em;
  line-height: 1.5em;
  color: white;
}


@media (max-width: 400px) {
	section.features {
		margin-bottom:15em;
	}
}

@media (max-width: 768px) {
	.features-svg {
		height:160%;
	}
}

/* ----tutorial---- */

section.tutorial img {
	width:100%;
	height:100%;
	border: 1px solid #eee;
	border-radius: 5px;
}

.tutorial {
	margin-bottom:20em;
}

.tutorial button {
	margin: 1em auto;
}

.card-text {
	color:#434343;
}

#steps1:before {
	content: '';
	height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/element_number1.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

#steps2:before {
	content: '';
	height: 100%;
	top: -5px;
	left: 50%;
	position: absolute;
	display: inline-block;
	background-image: url(../img/element_number2.svg);
	background-repeat: no-repeat;
	background-size: 40px;
	margin-left: -20px;
	width: 40px;
}

#steps3:before {
	content: '';
	height: 100%;
  top: -5px;
  left: 50%;
  position: absolute;
  display: inline-block;
  background-image: url(../img/element_number3.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  margin-left: -20px;
  width: 40px;
}

.card-body>p{
	text-align:center;
}


.tutorialcard {
	background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01)l;
	padding-left:20px;
	padding-right:20px;
	border: 1px solid #eee;
	border-radius:5px;
	height:105%;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.tutorialcard:hover {
	background-color: white;
 	-webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
}

/* ----install---- */

.install {
	text-align: center;
	margin-top:10em;
	position:relative;
}

.install > .container > button {
	margin:1em auto;
}

.install-svg{
	width: 100%;
	height: 410%;
	top: -340px;
	position: absolute;
	background-image: url(../img/home_install.svg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

/* ----pricing---- */

.pricing {
	margin-top:10em;
}

	/*Pricing card*/

.pricingcard {
	background-color: white;
  -webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.01)l;
	padding-left:20px;
	padding-right:20px;
	border: 1px solid #eee;
	border-radius:5px;
	height:105%;
  transition: all 0.625s cubic-bezier(0, 0, 0.2, 1);
}

.pricingcard:hover {
	background-color: white;
 	-webkit-box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.05);
	transform: scale(1.014);
}

	/*Pricing content*/

.pricing .card-body {
	padding:0.2em;
}

.pricing .card-header {
	padding: .75rem .75rem;
	min-height: 22%;
}

.pricingfeatures {
	min-height:100px;
	text-align:left;
	min-height: 150px;
}

.pricingfeatures li {
	display: flex;
	align-items: center;
}

.pricingfeatures li:before {
	content: '';
	min-width: 20px;
  height: 12px;
	margin-right: 12px;
	display: inline-block;
	background-image: url(../img/element_tick.svg);
	background-repeat: no-repeat;
}

.pricingcard button {
	 width: 100%;
}

.pricingcard button.btn-outline {
	 width: 100%;
	 cursor: default;
}

.pricing-highlight {
	font-weight:bold;
	color:#FF486A;
}

.pricing-subheader {
	font-size:0.9em;
}

/* ----faq---- */


.faq {
	margin-bottom:8em;
}

.card {
	border:none;
}

.card-header {
	background-color: white;
}

.card-header .faqexpander {
	position:absolute;
	right: 30px;
	top: 5px;


}

.card-header .faqexpander:after{
	content:'-';
	font-size:1.5em;
	color:#6c757d;
}

.card-header.collapsed .faqexpander:after {
	content:'+';
	font-size:1.5em;
	color:#6c757d;
}

.accordionpointer {
	cursor:pointer;
}

#accordion .card-header {
	font-weight:bold;
}

@media (max-width: 768px) {
	.faqexpander{
		display:none;
	}
}




/* ----footer---- */

.footer-svg{
	width: 100%;
  height: 160%;
	top: -80px;
	position: absolute;
	background-image: url(../img/footer2.svg);
	background-repeat: no-repeat;
	background-size:cover;
	z-index: -1;
}

.footer {
	font-size:.85em;
	color:lightgrey;
	position:relative;
}

#logo-bottom {
	width: 150px;
	height: 10%;
	padding-top:20px;
	padding-bottom:10px;
}
body > footer > div > p {
	color:white;
}

.footer a {
	text-decoration:none;
	color:white;
}

.footer a:hover {
	color:#FF486A;
	transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
	cursor:pointer;
}



/* Footer display for Firefox */
@-moz-document url-prefix() {
	body > footer > div > p {
		margin-top: -0.3em;
		color:white;
	}
	#logo-bottom {
		width: 135px;
		margin-bottom: 10px;
		padding-top:10px;
	}
}

/* Privacy page */

section.privacy {
 	margin-bottom: 8em;
}

.privacy {
	position:relative;
}


/* Big display > 1440px */

@media (min-width: 1440px) {

	html {
		font-size: 90%;
		zoom: 110%;
	}

	section.tutorial img {
		width: 70%;
	}

	.footer-svg {
		top:-35px;
	}

	.crisp-client {
		zoom:80%;
	}
}

 @media (min-width: 1500px) {

	html {
		font-size: 90%;
		zoom: 120%;
	}
}

/* @media (min-width: 1720px) {

	html {
		font-size: 90%;
		zoom: 130%;
	}
}

@media (min-width: 1830px) {

	html {
		font-size: 90%;
		zoom: 138%;
	}
}  */

/* Prevent horizontal scroll on Firefox */

/*@-moz-document url-prefix() {
	body {
		overflow: hidden;
	}
}*/
