<section class="container my-5 py-3 text-center">
  <strong style="color: #eb576d">Why Mailmeteor?</strong>
  <h2 class="mb-3">Get started with Mailmeteor for free</h2>
  <ul class="list-marketing-inline">
    <li>Up to 2000 emails/day</li>
    <li>Rated 4.9/5 out of 8000 reviews</li>
    <li>Free plan available</li>
  </ul>
  <div class="my-5">
    <a href="https://workspace.google.com/marketplace/app/mailmeteor_mail_merge_for_gmail/1008170693301">
      <img src="/assets/img/badges/gwm-non-official.png" width="334" height="55.19" />
    </a>
  </div>
</section>
