<section class="container my-5 py-3 text-center">
  <strong style="color: #eb576d">Brought to you by Mailmeteor</strong>
  <h2 class="mt-0">The best rated mail merge for Google Sheets</h2>
  <p>Send personalized emails with your Gmail / Google Workspace account.</p>
  <div class="row">
    <div class="col-xs-12 col-lg-4 mb-2">
      <img height="64px" class="d-inline-block my-3" src="/assets/img/icons/meteor.svg" alt="Meteor icon" />
      <h4><strong>Save time sending emails with Gmail.</strong></h4>
      <p>Email multiple recipients at once without them knowing. Make your recipients feel special.</p>
    </div>
    <div class="col-xs-12 col-lg-4 mb-2">
      <img height="64px" class="d-inline-block my-3" src="/assets/img/icons/radar.svg" alt="Radar icon" />
      <h4><strong>Make sure your emails land in the Inbox.</strong></h4>
      <p>We maximize your email deliverability and send emails directly from Gmail.</p>
    </div>
    <div class="col-xs-12 col-lg-4 mb-2">
      <img height="64px" class="d-inline-block my-3" src="/assets/img/icons/stars.svg" alt="Stars icon" />
      <h4><strong>Designed to respect your privacy.</strong></h4>
      <p>Mailmeteor needs only minimal permissions to run, contrary to other mail merge add-ons.</p>
    </div>
  </div>
</section>
