<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="google-site-verification" content="TShcwwV_esZ98tyJWg6fRMCTDcjUwGnfGBu087vga3M" />
    <link rel="icon" href="/assets/img/brand/favicon.ico" type="image/x-icon" />

    <title>{{ page.title }}</title>
    <link rel="canonical" href="{{ page.canonical }}" />
    <meta name="description" content="{{ page.description }}" />

    <!-- Open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.og_title }}" />
    <meta property="og:description" content="{{ page.og_description }}" />
    <meta name="image" property="og:image" content="{{ page.og_image | default: 'https://mailmeteor.com/assets/img/opengraph/main.jpg' }}" />
    <meta property="og:url" content="{{ page.og_url }}" />
    <meta name="twitter:site" content="@mailmeteor" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ page.og_url }}" />
    <meta name="twitter:title" content="{{ page.og_title }}" />
    <meta name="twitter:description" content="{{ page.og_description }}" />
    <meta name="twitter:image" content="{{ page.og_image | default: 'https://mailmeteor.com/assets/img/opengraph/main.jpg' }}" />

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/lib/bootstrap@4.3.1.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css?v=20211229" />
    <link rel="stylesheet" href="/assets/css/blog.css?v=20211220" />
  </head>
  <body class="blogpost">
    <article itemid="{{ page.canonical }}" itemscope itemtype="https://schema.org/BlogPosting">
      <header class="blogpost-header">
        <div class="container">
          <nav class="row">
            <div class="col-xs-12 col-md-6 col-lg-8">
              {% if page.url != "/blog/" %}
              <a href="/blog/"><img src="/assets/img/brand/logo_mailmeteor_white.svg" alt="Mailmeteor logo" id="logo" /></a>
              {% else %}
              <a href="/"><img src="/assets/img/brand/logo_mailmeteor_white.svg" alt="Mailmeteor logo" id="logo" /></a>
              {% endif %}
            </div>
            {% if page.lang == "fr" %}
            <div class="col-md-6 col-lg-4 blogpost-header-tagline d-none d-md-block">
              Cet article est proposé par <a href="/fr/">Mailmeteor</a>, le meilleur outil de publipostage pour Gmail.
            </div>
            {% else %}
            <div class="col-md-6 col-lg-4 blogpost-header-tagline d-none d-md-block">Brought to you by <a href="/">Mailmeteor</a>, the best rated mail merge tool for Gmail.</div>
            {% endif %}
          </nav>
          <div class="text-center">
            {% if page.meta_image %}
            <img itemprop="image" src="{{page.meta_image}}" class="blogpost-header-image" />
            {% endif %}
            <h1 itemprop="headline">{{ page.title}}</h1>
            <div class="blogpost-header-meta">
              <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                <a itemprop="url" href="{{ page.meta_author_link }}" target="_blank" rel="author">
                  <span itemprop="name">{{ page.meta_author }}</span>
                </a>
              </span>
              - {% if page.meta_date_lastupdated %}
              <span itemprop="datePublished" class="d-none">Published: {{ page.meta_date_published }}</span>
              <span itemprop="dateModified">Updated: {{ page.meta_date_lastupdated }}</span>
              {% else %}
              <span itemprop="datePublished">Published: {{ page.meta_date_published }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
      <div class="container blogpost-content">
        <div class="row">
          <aside class="col-lg-2 d-none d-lg-block pl-0">
            <div class="blogpost-toc">
              {% if page.lang == 'fr' %}
              <div style="font-weight: bold; font-size: 0.8rem">Contenu</div>
              {% else %}
              <div style="font-weight: bold; font-size: 0.8rem">Contents</div>
              {% endif %} {% include blogpost-toc.html html=content h_max=2 %}
            </div>
          </aside>
          <main class="col-lg-8 col-xs-12">{% include blogpost-lazyimages.html html=content %}</main>
          <aside class="col-lg-2 d-none d-lg-block pl-3 pr-0">
            <div class="blogpost-share">
              <span class="d-block font-weight-bold">Share this article</span>
              <ul>
                <li>
                  <a
                    href="https://twitter.com/share?text={{ page.title | uri_escape }}&url={{ page.canonical | uri_escape }}&via=Mailmeteor"
                    title="Share on Twitter"
                    rel="nofollow noreferrer"
                    target="_blank"
                    class="blogpost-share-btn"
                  >
                    <img src="/assets/img/icons/share-twitter.svg" alt="Share on Twitter" />
                  </a>
                </li>
                <!-- <li>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.canonical }}" title="Share on Facebook" rel="nofollow noreferrer" target="_blank" class="blogpost-share-btn">
                    <img src="/assets/img/icons/share-facebook.svg" alt="Share on Facebook" />
                  </a>
                </li> -->
                <li>
                  <a
                    href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.canonical | uri_escape}}"
                    title="Share on LinkedIn"
                    rel="nofollow noreferrer"
                    target="_blank"
                    class="blogpost-share-btn"
                  >
                    <img src="/assets/img/icons/share-linkedin.svg" alt="Share on LinkedIn" />
                  </a>
                </li>
              </ul>
            </div>
            <div class="blogpost-aside-cta">
              <img src="/assets/img/articles/alternative/Mailmeteor-logo.webp" style="display: block; margin: 0.5rem auto; max-width: 32px" />
              <p class="font-weight-bold text-center">{{ page.cta_title | default: 'Try the best mail merge tool for Gmail'}}</p>
              <a href="https://workspace.google.com/marketplace/app/mailmeteor_mail_merge_for_gmail/1008170693301" class="btn btn-outline p-1"
                >{{ page.cta_button | default: 'Start sending emails'}}</a
              >
            </div>
          </aside>
        </div>
      </div>
    </article>

    {%- include default.footer.html -%}

    <script>
      // Share post on social networks
      function sharePost() {
        var socialButtons = document.getElementsByClassName('blogpost-share-btn');
        for (var i = 0; i < socialButtons.length; i++) {
          var btn = socialButtons[i];
          btn.addEventListener('click', function (e) {
            e.preventDefault();
            var href = this.href;
            var features = 'width=840,height=400,scrollbars=yes,resizable=yes,noopener=no,status=no,toolbar=nolocation=no,copyhistory=no,menubar=no,directories=no';
            var iframe = window.open(href, 'MM_' + Date.now(), features);
          });
        }
      }

      document.addEventListener('DOMContentLoaded', function () {
        sharePost();
      });
    </script>
    <script>
      // ---------------------------------------------------------
      // 	Quick Links Menu Highlighting
      // ---------------------------------------------------------
      window.addEventListener('DOMContentLoaded', () => {
        function highlightMenu() {
          var scrollPosition = $(document).scrollTop();

          $('.blogpost-toc ul li a').each(function () {
            var currentLink = $(this);
            var refElement = $(currentLink.attr('href'));

            if (scrollPosition > refElement.position().top + refElement.height()) {
              $('.blogpost-toc ul li.active').removeClass('active');
              $(this).parent().addClass('active');
            }
          });
        }
        $(window).on('scroll', function () {
          highlightMenu();
        });
      });
    </script>
  </body>
</html>
