<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include default.header.html -%}

  {{ content }}

  {%- include default.footer.html -%}

  {% if page.stripe == "popover" %}

  <script>
    // Enabling Stripe popovers
    $(function () {
      $('[data-toggle="popover"]').popover()
    })

    /**
     * Plan confirmation modal handler
     */

    function planConfirmationModal(event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var planId = button.data('checkout-plan-id') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('input.checkout-plan-id').val(planId)
      console.log(planId)
    }

    $('#activeIndividualModal').on('show.bs.modal', planConfirmationModal)
    $('#activeEnterpriseModal').on('show.bs.modal', planConfirmationModal)

    $(function () {
      $('#pricing-enterprise-select').change(function () {

        // let priceHTML = ' <small style="font-size:50%;">$</small><span id="enterprise-plan-price">' + this.value + '</span><sup>.99 /year</sup>'
        // let planID = $("#pricing-enterprise-select option:selected").attr('data-checkout-plan-id')
        // $('#enterprise-plan').html(priceHTML)

        // <black-friday>
        let planID = $("#pricing-enterprise-select option:selected").attr('data-checkout-plan-id')
        $('#enterprise-plan-price').html(this.value)
        $('#enterprise-plan-price-discount').html($(this).find(':selected').attr('data-value-discount'))
        // </black-friday>

        if (!planID) {
          $('#enterprise-plan-button').html('Contact us');
          $('#enterprise-plan-button').removeAttr('data-checkout-plan-id');
          $('#enterprise-plan-button').removeAttr('data-target')
          $('#enterprise-plan-button').attr('onclick', "location.href='https://support.mailmeteor.com/help/contact-support'")
        }
        else {
          $('#enterprise-plan-button').html('Buy now');
          $('#enterprise-plan-button').attr('data-target', '#activeEnterpriseModal')
          $('#enterprise-plan-button').removeAttr('onclick')
          $('#enterprise-plan-button').attr('data-checkout-plan-id', planID)
        }
      });
    });

    /**
     * Plans with coupons
     */

    function qs(key) {
      key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
      var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
      return match && decodeURIComponent(match[1].replace(/\+/g, " "));
    }

    try {

      var coupon = qs('coupon')
      var blackfriday = document.getElementById('blackfriday')
      if (coupon && coupon === "OFF20" && !blackfriday) {
        var monthlyPlan = 'plan_GeXu6Qjz2Jiz5o'
        var yearlyPlan = 'plan_H94wjkUJNv8YzG'

        var monthlyPrice = $('#plan-monthly .pricingcard-price').first()
        monthlyPrice.wrapInner('<strike></strike>')
        monthlyPrice.append('<span style="color:#FF486A"><small style="font-size:50%;">$</small>6<sup>.39 /month</sup></span>')
        $('#plan-monthly button[data-checkout-plan-id]').each(function () { $(this).attr('data-checkout-plan-id', monthlyPlan) })

        var yearlyPrice = $('#plan-yearly .pricingcard-price').first()
        yearlyPrice.wrapInner('<strike></strike>')
        yearlyPrice.append('<span style="color:#FF486A"><small style="font-size:50%;">$</small>31<sup>.99 /year</sup></span>')
        $('#plan-yearly button[data-checkout-plan-id]').each(function () { $(this).attr('data-checkout-plan-id', yearlyPlan) })
      }

    } catch (e) { console.error(e) }

    /**
     * Upgrade modal validation (enterprise plan)
     */

    $( "#enterprise-form" ).submit(function( event ) {
      var domainElt = $("#emailDomain")
      var domain = $.trim(domainElt && domainElt.val() || "")

      function notValid(errorMessage) {
        event.preventDefault()
        var validation = domainElt.parent().find('.email-domain-validation')
        if (validation.first()) {
          validation.first().show()
          validation.first().text(errorMessage)
        }
      }

      if (!domain) {
        return notValid()
      }

      if (domain && (domain === "gmail.com" || domain === "googlemail.com")) {
        return notValid("Can't upgrade that domain. Is it your G Suite domain?")
      } else if (domain.indexOf('@') >= 0) {
        return notValid("Please enter your G Suite domain here (the part after @).");
      } else if (domain.substr(0,4) === "www.") {
        return notValid("Please enter your G Suite domain (without www).");
      }

      var validation = domainElt.parent().find('.email-domain-validation')
      if (validation.first()) { validation.first().hide()}
    });
  </script>

  {% endif %}
</body>

</html>