<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="preload">

  {%- include default.header.html -%}

  {{ content }}

  {%- include default.footer.html -%}

  {% if page.stripe == "popover" %}

  <script>
    // Enabling Stripe popovers
    $(function () {
      $('[data-toggle="popover"]').popover()
    })

    /**
     * Render products cards
     */

    function renderProducts() {
      var products = {
        monthly: {
          'free': {
            title:"Free",
            subtitle: "Start free, upgrade whenever you want.",
            prices: {
              usd: {
                amount: 0,
              },
              eur: {
                amount: 0,
              },
              inr: {
                amount: "0.00",
              }
            },
            cta: "START FREE"
          },
          'individual': {
            title: "Monthly Booster",
            subtitle: "Can be ended anytime. Billed monthly.",
            prices: {
              usd: {
                amount: 7.99,
                id: "plan_GeOaGV67IuLp0O"
              },
              eur: {
                amount: 7.99,
                id: "price_1H9S8uKALIjZusuQoCQWseq6"
              },
              inr: {
                amount: 369.99,
                id: "price_1HJmGrKALIjZusuQplXGpfb8"
              }
            },
          },
          'individual-OFF20': {
            title: "Monthly Booster",
            subtitle: "Can be ended anytime. Billed monthly.",
            prices: {
              usd: {
                amount: 7.99,
                discount: 6.39,
                id: "plan_GeXu6Qjz2Jiz5o"
              },
              eur: {
                amount: 7.99,
                discount: 6.39,
                id: "price_1H9S94KALIjZusuQDUKQBoJ4"
              },
              inr: {
                amount: 295.99,
                id: "price_1HJm2qKALIjZusuQ1ifv0Uz3"
              }
            },
          },
          'enterprise-3': {
            title: "Enterprise Monthly",
            subtitle: "For teams and companies. Billed monthly.",
            prices: {
              usd: {
                amount: 23.99,
                id: "price_1GvlK3KALIjZusuQO5MZpPWY"
              },
              eur: {
                amount: 23.99,
                id: "price_1H9SU2KALIjZusuQiVpnim4E"
              },
            },
          },
          'enterprise-5': {
            title: "Enterprise Monthly",
            subtitle: "For teams and companies. Billed monthly.",
            prices: {
              usd: {
                amount: 39.99,
                id: "price_1GvlK3KALIjZusuQribPjxTy"
              },
              eur: {
                amount: 39.99,
                id: "price_1H9SUGKALIjZusuQeGWwThZ7"
              },
            },
          },
          'enterprise-10': {
            title: "Enterprise Monthly",
            subtitle: "For teams and companies. Billed monthly.",
            prices: {
              usd: {
                amount: 79.99,
                id: "price_1GvlK3KALIjZusuQUfEEZsdB"
              },
              eur: {
                amount: 79.99,
                id: "price_1H9SUaKALIjZusuQylln3EYs"
              },
            },
          },
          'enterprise-more': {
            title: "Enterprise Monthly",
            subtitle: "For teams and companies. Billed monthly.",
            cta: "CONTACT US",
          },
        },
        yearly: {
          'free': {
            title:"Free",
            subtitle: "Start free, upgrade whenever you want.",
            prices: {
              usd: {
                amount: 0,
              },
              eur: {
                amount: 0,
              },
              inr: {
                amount: "0.00",
              }
            },
            cta: "START FREE"
          },
          'individual': {
            title: "Yearly License",
            subtitle: "Unlock Mailmeteor for a year. Billed yearly.",
            prices: {
              usd: {
                amount: 39.99,
                id: "plan_H94vBgcwlWONN8"
              },
              eur: {
                amount: 39.99,
                id: "price_1H9SWhKALIjZusuQVxxu0mpk"
              },
              inr: {
                amount: 1479.99,
                id: "price_1HJwzdKALIjZusuQLlnBDxU5"
              }
            },
          },
          'individual-OFF20': {
            title: "Yearly License",
            subtitle: "Unlock Mailmeteor for a year. Billed yearly.",
            prices: {
              usd: {
                amount: 39.99,
                discount: 31.99,
                id: "plan_H94wjkUJNv8YzG"
              },
              eur: {
                amount: 39.99,
                discount: 31.99,
                id: "price_1H9SXSKALIjZusuQFWoON671"
              },
              inr: {
                amount: 1183.99,
                id: "price_1HJwzsKALIjZusuQwYevIdtr"
              }
            },
          },
          'enterprise-3': {
            title: "Enterprise Yearly",
            subtitle: "For teams and companies. Billed yearly.",
            prices: {
              usd: {
                amount: 99.99,
                id: "price_1GvlPKKALIjZusuQrAWZ1iSz"
              },
              eur: {
                amount: 99.99,
                id: "price_1H9SYFKALIjZusuQn1sDRPl3"
              },
            },
          },
          'enterprise-5': {
            title: "Enterprise Yearly",
            subtitle: "For teams and companies. Billed yearly.",
            prices: {
              usd: {
                amount: 149.99,
                id: "price_1GvlPLKALIjZusuQAR7fxk76"
              },
              eur: {
                amount: 149.99,
                id: "price_1H9SYZKALIjZusuQ2Pv1NU5Q"
              },
            },
          },
          'enterprise-10': {
            title: "Enterprise Yearly",
            subtitle: "For teams and companies. Billed yearly.",
            prices: {
              usd: {
                amount: 289.99,
                id: "price_1GvlPKKALIjZusuQ2o7jpdrz"
              },
              eur: {
                amount: 289.99,
                id: "price_1H9SYsKALIjZusuQWXXjACye"
              },
            },
          },
          'enterprise-more': {
            title: "Enterprise Yearly",
            subtitle: "For teams and companies. Billed yearly.",
            cta: "CONTACT US",
          },
        }
      }
      
      var currencies = {"usd":"$", "eur": "€", "inr": "₹"}


      $("[data-checkout-product]").each(function () {
        var card = $(this)
        var recurrence = $('[data-checkout-recurrence]').first()
        recurrence = recurrence && recurrence.data('checkout-recurrence') ||  "monthly" 

        var currency = $('[data-checkout-currency]').first()
        currency = (currency && currency.data('checkout-currency') ||  "USD").toLowerCase()
        if (!currencies[currency]) { currency = 'usd' }

        var productType = card.data("checkout-product")
        var productCategory = products[recurrence]
        var product = productCategory && productCategory[productType]
        if (!product) { return console.error('Undefined product: ' + productType) }
        
        var title = card.find('[data-checkout-product-item="title"]')
        if (title && product.title) { title.first().text(product.title) }

        var subtitle = card.find('[data-checkout-product-item="subtitle"]')
        if (subtitle && product.title) { subtitle.first().text(product.subtitle) }

        var priceElt = card.find('[data-checkout-product-item="price"]')
        var productPrice = product.prices && product.prices[currency] || null
        
        if (priceElt) {
          if (productPrice) {
            var amount = productPrice.amount.toString().split('.')
            var amountInteger = amount.shift()
            var amountDecimal = amount.length && amount.shift()
            var amountCurrency = currencies[currency]

            var priceHtml = '<small class="pricingcard-currency">'+amountCurrency+'</small>'
            priceHtml += amountInteger
            priceHtml += '<sup>' + (amountDecimal ? ('.' + amountDecimal) : '') + ' / ' + recurrence.slice(0, -2) + '</sup>'
            priceElt.first().html(priceHtml)

            if (productPrice.discount) {
              var discount = productPrice.discount.toString().split('.')
              var discountInteger = discount.shift()
              var discountDecimal = discount.length && discount.shift()
              var discountCurrency = currencies[currency]

              var discountHtml = '<small class="pricingcard-currency">'+discountCurrency+'</small>'
              discountHtml += discountInteger
              discountHtml += '<sup>' + (discountDecimal ? ('.' + discountDecimal) : '') + ' / ' + recurrence.slice(0, -2) + '</sup>'

              priceElt.first().html('<strike>' + priceHtml + '</strike><span style="color:#FF486A;">' + discountHtml + '</span>')
            }
          }
          else {
            priceElt.first().html("Let's talk")
          }
        }

        var cta = card.find('[data-checkout-product-item="cta"]')
        if (cta) {
          cta.first().data("checkout-product-id", productPrice && productPrice.id || "")
          cta.first().text(product.cta || 'BUY NOW')
        }
      })
    }
    
    /**
     * Handle user's currency
     */
    
    function setUserCurrency(currency) {
      var currencyElt =  $('[data-checkout-currency]').first()
      if (currencyElt) { currencyElt.data('checkout-currency', currency || 'USD') }
    }

    /**
     * Initialize products
     */

    $(function () {

      // Render products with user's currency
      if (window._geo && window._geo.currency) {
        setUserCurrency(window._geo.currency)
        renderProducts()
      }
      
      // Render products with default currency
      else {
        renderProducts()
      }

      // Handle monthly / yearly
      $('input[name=checkout-recurrence]').on('change', function () {
        var recurrence = $('[data-checkout-recurrence]').first()
        if (recurrence) { recurrence.data('checkout-recurrence', $(this).val()) }
        renderProducts()
      })

      // Handle users selector (for enterprise)
      $('#checkout-selector-users').change(function () {
        var card = $(this).closest('[data-checkout-product]')
        if (card) { card.data('checkout-product', 'enterprise-' + $(this).val()) } 
        renderProducts()
      });

      // Handle confirmation modals
      function planConfirmationModal(event) {
        var button = $(event.relatedTarget)
        var productId = button.data('checkout-product-id')

        if (!productId) {
          window.location.href = "https://support.mailmeteor.com/help/contact-support#contact-us"
          event.preventDefault()
        } else {
          var modal = $(this)
          modal.find('input.checkout-plan-id').val(productId)
        }
      }

      $('#activeIndividualModal').on('show.bs.modal', planConfirmationModal)
      $('#activeEnterpriseModal').on('show.bs.modal', planConfirmationModal)

      // Handle 20% OFF coupon
      function qs(key) {
        key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
        var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
        return match && decodeURIComponent(match[1].replace(/\+/g, " "));
      }

      try {
        var coupon = qs('coupon')
        if (coupon && coupon === "OFF20") {
          $("[data-checkout-product]").each(function () {
            var card = $(this)
            var productId = card.data("checkout-product")

            if (productId === "individual") {
              card.data("checkout-product", "individual-OFF20")
              renderProducts()
            }
          })
        }

      } catch (e) { console.error(e) }
    });


    /**
     * Validation on the enterprise modal
     */

    $("#enterprise-form").submit(function (event) {
      var domainElt = $("#emailDomain")
      var domain = $.trim(domainElt && domainElt.val() || "").toLowerCase()

      function notValid(errorMessage) {
        event.preventDefault()
        var validation = domainElt.parent().find('.email-domain-validation')
        if (validation.first()) {
          validation.first().show()
          validation.first().text(errorMessage)
        }
      }

      if (!domain) {
        return notValid()
      }

      if (domain && (domain === "gmail.com" || domain === "googlemail.com")) {
        return notValid("Can't upgrade that domain. Is it your G Suite domain?")
      } else if (domain.indexOf('@') >= 0) {
        return notValid("Please enter your G Suite domain here (the part after @).");
      } else if (domain.substr(0, 4) === "www.") {
        return notValid("Please enter your G Suite domain (without www).");
      } else if (domain.substr(0, 4) === "http") {
        return notValid("Please enter your G Suite domain (without http).");
      }

      var validation = domainElt.parent().find('.email-domain-validation')
      if (validation.first()) { validation.first().hide() }
    });
  </script>

  {% endif %}
</body>

</html>