<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">
  <head>
    {%- include head.html -%}
  </head>

  <body>
    {%- include default.header.html -%}

    <div class="mt-5">{{ content }}</div>

    <section class="container my-5 py-3 text-center">
      <strong style="color: #eb576d">Brought to you by Mailmeteor</strong>
      <h2 class="mt-0">The best rated mail merge for Gmail</h2>
      <ul class="list-marketing-inline">
        <li>Up to 2000 emails/day</li>
        <li>Rated 4.9/5 out of 8000 reviews</li>
        <li>Free plan available</li>
      </ul>
      <a href="/" class="btn btn-marketing">GET STARTED WITH MAILMETEOR</a>
    </section>

    {%- include default.footer.html -%}
  </body>
</html>
