<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">
  <head>
    {%- include head.html -%}
  </head>

  <body>
    {%- include default.header.html -%}

    <!-- TOOL MAIN CONTENT -->
    {{ content }}

    <section class="container my-5 py-3 text-center">
      <p class="text-blue-dark-reverse action-lg">Brought to you by Mailmeteor</p>
      <h3 class="mt-0">The Best Rated Mail merge for Gmail</h3>
      <ul class="list-marketing-inline">
        <li>Up to 2000 emails/day</li>
        <li>Rated 4.9/5 out of 8000 reviews</li>
        <li>Free plan available</li>
      </ul>
      <a href="/" class="btn btn-primary d-inline-block">GET STARTED WITH MAILMETEOR</a>
    </section>

    {%- include default.footer.html -%}
  </body>
</html>
