---
layout: academy
title: 'Mailmeteor 101: Getting started with mail merge in Gmail'
description: Learn dozens of tips & tricks about Mailmeteor, the most popular emailing solution for small business. Mailmeteor seemlessly integrates with your Gmail or Google Workspace account to power-up your emailing skills.
canonical: https://mailmeteor.com/learning/getting-started

og_title: 'Mailmeteor 101: Send Personalized Mail Merge with Gmail'
og_description: Learn dozens of tips & tricks about Mailmeteor, the most popular emailing solution for small business. Mailmeteor seemlessly integrates with your Gmail or Google Workspace account to power-up your emailing skills.
og_image: https://mailmeteor.com/assets/img/opengraph/main.jpg
og_url: https://mailmeteor.com/learning/getting-started

playlist_id: PLsZLp_pMhGGX50TEojjFHefFjJTkKtXVp
playlist:
  - title: 'How to Mail Merge in Gmail? (2022 tutorial)'
    description: 'In this very short tutorial, you get an introduction to sending emails with Mailmeteor. It covers all the basics. It’s a must watch'
    length: 2 min
    youtube_id: -YX65-kywOE
    slug: introduction
  - title: 'How to install Mailmeteor?'
    description: 'Mailmeteor seamlessly integrates with Gmail and Google Sheets. After installation, you can send emails to your mailing list right in Google Sheets. In this video, we show you how to install Mailmeteor and open it.'
    length: 1 min
    youtube_id: GRAZJC_5RaA
    slug: how-to-install
  - title: 'How to send mass personalized emails in Gmail?'
    description: 'The power of mail merge is to let you send hundreds of personalized emails in the minimal amount of time. That’s exactly what you gonna learn in this video.'
    length: 5 min
    youtube_id: WVVeVIWwSfE
    slug: how-to-mass-emails-gmail
  - title: 'How to add CC or BCC?'
    description: 'Adding someone in cc/bcc is common feature of 1-1 emails. No worries, you can do it as well in 1-to-many emails when sending a mail merge.'
    length: 1 min
    youtube_id: 3me-iWYFSY0
    slug: how-to-cc-bcc
  - title: 'How to send from an alias?'
    description: 'Mailmeteor is linked to your main Google account. But sometimes, you want to send a newsletter from another email address. We got you covered.'
    length: 4 min
    youtube_id: FhTcfUDdvHc
    slug: how-to-alias
  - title: 'How to track emails?'
    description: 'When you get familiar with email marketing solution, you want to know how effective your emailing campaigns are. That’s where you need to learn more about tracking and how Mailmeteor brings you effective metrics to measure your perfomance.'
    length: 3 min
    youtube_id: ehz6dhgZU3g
    slug: track-emails
  - title: 'How to track links?'
    description: 'Beside tracking opens of your emails, you can detect when someone clicks on an email. That’s such a powerful feature that you probably will use it all the times you send an email with a link.'
    length: 2 min
    youtube_id: zkDX2MlPeqM
    slug: track-links
  - title: 'How to schedule a mail merge?'
    description: 'Best marketers prepare their emailing campaigns days (if not weeks) in advance. Using the scheduling feature, you can make sure that your emails are sent at the right moment. Without you being in front of your computer.'
    length: 1 min
    youtube_id: bZaC4x4T-TM
    slug: schedule-mail-merge
  - title: 'Add mages in your email'
    description: 'An image worth a thousand words. That’s why you can easily embed images to your emails.'
    length: 1 min
    youtube_id: DS4bV8kDHMc
    slug: mail-merge-with-images
  - title: 'Mail merge with attachments?'
    description: 'Invoices, payslips, brochures, you can send many kind of attachments with your mail merge. Learn how to do it in this video.'
    length: 3 min
    youtube_id: 3BnQVmpm3EI
    slug: mail-merge-with-attachments
  - title: 'How to add an unsubscribe link?'
    description: 'In most country, when sending marketing campaigns you have to embed an unsubscribe link. See how to do it in a few clicks.'
    length: 2 min
    youtube_id: SGzsSfmviQY
    slug: unsubscribe-link
  - title: 'How to use filters to send to a segment?'
    description: 'When you want to follow-up to only a subset of your mailing list (e.g. people that have opened your emails), you can use filters right in Google Sheets. Mailmeteor will send an email only to the visible rows.'
    length: 4 min
    youtube_id: AHJZhOb9vXw
    slug: mail-merge-to-segment
  - title: 'How to avoid emails going to spam?'
    description: 'While not totally a tutorial, this video is a great reminder on how to avoid your emails going to spam. Bulk emails are generally more sensitive to spam, hence why it’s great to learn basics.'
    length: 4 min
    youtube_id: cW6bYchJivo
    slug: no-spam
---

<!-- Course header -->
<div class="container academy-header">
  <div class="academy-header--title">
    <h1>
      <span class="academy-header--title-prefix">Mailmeteor 101:</span>
      <strong>Getting started with Mailmeteor</strong>
    </h1>
    <span class="academy-header--title-badge">Free course</span>
  </div>
  <div class="academy-header--description">
    <p>
      In this course, we’re going to teach you how to become proficient with Mailmeteor, the best rated mail merge add-on for Google Workspace. We’ve streamlined the dozends of
      features that will make you proficient and save you hours. With powerful examples and takeaways for you that you can implement right away.
    </p>
    <p><strong>What's included in the course:</strong></p>
    <ul>
      <li>Mailmeteor's basics to help you get started</li>
      <li>How to personalize and track emails</li>
      <li>Advanced features such as scheduling</li>
      <li>Tips & Tricks to get the most out of Mailmeteor</li>
    </ul>
  </div>
</div>

<!-- Start course -->
<section></section>

<div class="container">
  <!-- Playlist -->
  {% include academy/playlist.html videos=page.playlist %}

  <!-- Feedback form -->
  {% include academy/footer-feedback-form.html course="getting-started" %}

  <!-- Get started with Mailmeteor -->
  {% include academy/footer-get-started.html %}
</div>
