---
layout: academy
title: 'Gmail Tips 101: 15+ Gmail Tips Eveyone Should Now in 2022'
description: Learn dozens of tips & tricks about Gmail, the most popular email service with 1.5 billion of users. From folders to archives, shortcuts to attachments, here's everything you need to know to get faster in Gmail.
canonical: https://mailmeteor.com/gmail-tips

og_title: 'Gmail Tips 101: How to use Gmail like a pro?'
og_description: Learn dozens of tips & tricks about Gmail, the most popular email service with 1.5 billion of users. From folders to archives, shortcuts to attachments, here's everything you need to know to get faster in Gmail.
og_image: https://mailmeteor.com/assets/img/opengraph/main.webp
og_url: https://mailmeteor.com/gmail-tips

permalink: /gmail-tips

playlist_id: PLsZLp_pMhGGUrUemrdsfj-1cRFE1-EHcJ
playlist:
  - title: 'How to write an email in Gmail?'
    description: 'Gmail is not just about receiving emails from your favorite brand. You can compose and send emails right with just a few clicks. In this video, we show you how to do it.'
    length: 2 min
    youtube_id: 0bIp03cQhhw
    slug: how-to-send-email
  - title: 'How to schedule sending in Gmail?'
    description: 'Scheduling emails is one of the most important features to stay organized in your inbox. It helps you write emails in advance and make sure they are sent at the right time.'
    length: 2 min
    youtube_id: EG4eCc3lo0I
    slug: how-to-schedule-send
  - title: 'How to CC in Gmail?'
    description: 'One of the most used features in emailing is probably to cc someone. By sending a carbon copy, you can make someone involved in the discussion and Gmail let’s you do it in just a click.'
    length: 30 seconds
    youtube_id: ma4VaZi8N_o
    slug: how-to-cc-bcc
  - title: 'What is snooze in Gmail?'
    description: 'Snooze is a Gmail feature that helps you stay organized in your inbox. When you snooze an email, you make it disappear from your inbox for now. But you define when that email should come back. '
    length: 1 min
    youtube_id: r9F15XuS2l0
    slug: how-to-snooze
  - title: 'How to change your name in Gmail?'
    description: 'By default, when you send an email in Gmail, your recipients will see your full name as set in your Google account. But  that can be changed, if for example you are sending emails for your hockey sport club.'
    length: 1 min
    youtube_id: B3GzwYSFn1w
    slug: how-to-change-name
  - title: 'How to archive emails in Gmail'
    description: "Archiving emails in Gmail is super convenient to save space. It moves conversations out of your inbox without deleting them. In this video, we'll show you how to archive an email in Gmail and then how to find the archived email."
    length: 1 min
    youtube_id: xl3kIJ_2u_w
    slug: how-to-archive-emails
  - title: 'How to edit the subject line in Gmail?'
    description: 'When you want to reply to or forward an email, sometimes it makes sense to change the subject line. Here’s a very quick video on how to do it in Gmail.'
    length: 1 min
    youtube_id: kCIbo2Rv85o
    slug: how-to-change-subject-line
  - title: 'How to create labels in Gmail?'
    description: 'To keep your inbox organized, Gmail labels are very useful. They work like Outlook folders, but they are much more powerful in the sense that an email can have multiple labels, while it can’t be in multiple folders.'
    length: 2 min
    youtube_id: tPks3deBG9o
    slug: how-to-create-labels
  - title: 'How to add an alias in Gmail in 2022?'
    description: 'Let’s say you want to send and receive emails from another email account you own, that’s possible using an email alias in Gmail! In this video, we are showing you how to add an alias in Gmail. '
    length: 3 min
    youtube_id: EtJbTMp88TU
    slug: how-to-alias
  - title: 'How to attach an email in Gmail?'
    description: 'Attachments are a huge part of sending emails from one to another. But did you know you can send more than files?'
    length: 30 seconds
    youtube_id: RxVgC8oox8U
    slug: how-to-attach-an-email
  - title: 'The Best Gmail Shortcuts (2022)'
    description: 'With a few Gmail shortcuts you can save hours of time on a daily basis. In this video, I’m showing 10 of the most useful Gmail shortcuts.'
    length: 4 min
    youtube_id: EznIR6zpeXI
    slug: how-to-gmail-shortcuts
  - title: 'How to manage your contacts list in Gmail?'
    description: 'Wondering where is your contacts list in Gmail? In this video, we’ll show you how to access your Gmail contacts and how to manage your Gmail distribution list. We’ll see how to add contacts to Gmail before emailing them.'
    length: 1 min
    youtube_id: 9RbLE7gT3zM
    slug: how-to-contacts-list
  - title: 'How to send mass emails in Gmail in 2022'
    description: "It’s possible to send mass personalized emails with Gmail to reach a large targeted audience. In this video, you're going to learn how to send mass personalized emails with Gmail with a Google add-on called Mailmeteor."
    length: 4 min
    youtube_id: DpnVMknsW54
    slug: how-to-mass-emails-gmail
  - title: 'How to mail merge with attachments in Gmail'
    description: 'Most advanced mail merge solutions allow you to attach files and documents to your email. It’s a convenient way to distribute documents such as invoices, event invitations, and more. In this video, we show you how to attach one or more attachments to your mail merge in Gmail using Mailmeteor.'
    length: 3 min
    youtube_id: 3BnQVmpm3EI
    slug: how-to-mail-merge-with-attachments
  - title: 'How to delete all emails in Gmail'
    description: 'In this video, we’ll see how to delete emails in Gmail to save space in your inbox. In addition, we’ll teach you how to recover deleted emails before they are permanently deleted.'
    length: 2 min
    youtube_id: CFKWiaYng5w
    slug: how-to-delete-all-emails
  - title: 'How do I send emails to undisclosed recipients in Gmail?'
    description: 'Sometimes you want to send an email to several people at once, without them knowing they are part of a mailing list. That’s exactly what a mail merge does.'
    length: 3 min
    youtube_id: Oy8GAfYvrsU
    slug: how-to-send-emails-undisclosed-recipients
  - title: 'How to do an email blast in Gmail?'
    description: 'An email blast is when you send a lot of emails quickly. In this video, we’ll show you how to send an email blast in Gmail, but we’ll also see why it’s not ideal to send mass emails all at once.'
    length: 5 min
    youtube_id: SLyFLrgTPU4
    slug: how-to-send-email-blast-gmail
  - title: 'Emailing Like a Boss'
    description: 'How to write an email like a boss? Such a frequent question that we have! From signature, to the subject line, this video includes many tips on how to become proficient with emails.'
    length: 7 min
    youtube_id: SLyFLrgTPU4
    slug: emailing-like-a-boss
---

<!-- Course header -->
<div class="container academy-header">
  <div class="academy-header--title">
    <h1>
      <span class="d-block text-blue-dark-reverse action-lg">Gmail Tips 101</span>
      <strong>How to use Gmail like a pro?</strong>
    </h1>
    <span class="academy-header--title-badge">Free course</span>
  </div>
  <div class="academy-header--description">
    <p>
      In this course, we’re going to teach you how to become proficient with Gmail, the world’s most used email service. We’ve streamlined the 15+ best features of Gmail that will
      save you hours. With powerful examples and takeaways for you that you can implement right away.
    </p>
    <p><strong>What's included in the course:</strong></p>
    <ul>
      <li>Gmail’s basics to help you get started</li>
      <li>Tips & tricks to excel in your inbox</li>
      <li>All shortcuts to save time in Gmail</li>
      <li>Advanced features such as archive and folders</li>
      <li>Hacks to get the most out of Gmail</li>
      <li>
        <a href="/assets/pdf/gmail-tips-tricks.pdf" target="_blank" download>Full course download (PDF)</a>
      </li>
    </ul>
  </div>
</div>

<!-- Start course -->
<section></section>

<div class="container">
  <!-- Playlist -->
  {% include academy/playlist.html videos=page.playlist %}

  <!-- Feedback form -->
  {% include academy/footer-feedback-form.html course="gmail-tips" %}

  <!-- Get started with Mailmeteor -->
  {% include academy/footer-get-started.html %}
</div>
